@model ResRole
@{
	ViewBag.Title = Model == null ? "添加新角色" : "编辑角色";
}
<div class="col-md-10 content-wrapper">
	<div class="row">
		<div class="col-lg-4 ">
			<ul class="breadcrumb">
				<li>
					<i class="fa fa-home"></i>
					<a href="@Url.Action("Index", "Home")">首页</a>
				</li>
				<li><a href="@Url.Action("Index", "Role")">角色</a></li>
				<li class="active">@ViewBag.Title</li>
			</ul>
		</div>
	</div>

	<!-- main -->
	<div class="content">
		<div class="main-header">
			<h2>@ViewBag.Title</h2>
			<em>本页面编辑角色内容信息</em>
		</div>

		<div class="main-content">

			<!-- widget -->
			<div class="widget">
				<div class="widget-header">
					<h3><i class="fa fa-edit "></i> @ViewBag.Title</h3>
				</div>
				<div class="widget-content">
					@using (Html.BeginForm("Edit", "Role", Model == null ? null : new { id = Model.RoleId }, FormMethod.Post, new { id = "form", role = "form", @class = "form-horizontal" }))
					{
						<div class="row">
							<fieldset class="col-sm-12">
								<div class="form-group">
									@Html.HiddenFor(m => m.RoleId)
									@Html.LabelFor(m => m.RoleName, new { @class = "control-label col-sm-3 " })
									<div class="col-sm-9">
										@Html.TextBoxFor(m => m.RoleName, new { @class = "form-control", maxlength = "255", placeholder = "角色名称" })
										@Html.ValidationMessageFor(m => m.RoleName)
									</div>
								</div>
								<div class="form-group">
									@Html.LabelFor(m => m.Description, new { @class = "control-label col-sm-3 " })
									<div class="col-sm-9">
										@Html.TextBoxFor(m => m.Description, new { @class = "form-control", maxlength = "255", placeholder = "描述" })
										@Html.ValidationMessageFor(m => m.Description)
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-3">权限</label>
									<div class="col-sm-9">
										@Html.ListBox("Approve", ResApproveHelper.GetSelectList(Model != null ? Model.RoleId : 0), new { @class = "multiselect" })
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-4 col-sm-offset-3">
										<button type="submit" id="submit" class="btn btn-primary btn-block"><i class="fa fa-check-circle"></i> 保存</button>
									</div>
								</div>
							</fieldset>
						</div>
					}
				</div>

			</div>
			<!-- end widget -->

		</div>
		<!-- /main-content -->
	</div>
	<!-- /main -->
</div>
@section Css {
@Styles.Render("~/css/multiselect")
}
@section Plugins {
@Scripts.Render("~/js/multiselect")
}
@section Scripts {
	<script type="text/javascript">

		$(".multiselect").multiselect({
			nonSelectedText: "未选择权限",
			allSelectedText: "选择了所有权限",
			numberDisplayed: 5
		});

	</script>
}