@model ResCompany
@{
	ViewBag.Title = "修改单位信息";
	var user = ResSettings.SettingsInSession.User;
	var isCityAdmin = user.UserTypePKID == ResUserHelper.CityAdmin;
}

<div class="modal-dialog" style="width:800px;">
	<div class="modal-content">
		<div class="color-line"></div>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			@if (Model.CompanyId == 0)
			{
				<h4 class="modal-title" id="firstModalLabel">新增单位信息</h4>
			}
			else
			{
				<h4 class="modal-title" id="firstModalLabel">编辑单位信息</h4>
			}
		</div>
		@using (Html.BeginForm("Edit", "Company", Model == null ? null : new { id = Model.CompanyId }, FormMethod.Post, new { id = "form1", role = "form", @class = "form-horizontal" }))
		{
			@Html.HiddenFor(m => m.CompanyId)

			<div class="modal-body">
				<div class="form-horizontal">
					@if (Model.CompanyId == 0 && !isCityAdmin)
					{
						<div class="form-group">
							<label class="control-label col-sm-3">所属单位</label>
							<div class="col-sm-9">
								<div class="input-group">
									@Html.Hidden("SuperiorId")
									<input type="text" class="form-control" disabled id="SuperiorName" aria-label="...">
									<div class="input-group-btn">
										<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">单位 <span class="caret"></span></button>
										<div class="dropdown-menu dropdown-menu-right" style="max-height:340px; width: 300px; overflow-y:auto">
											<div id="jstreeModal"></div>
										</div>
									</div><!-- /btn-group -->
								</div><!-- /input-group -->
							</div>
						</div>
					}
					else
					{
					@Html.Hidden("SuperiorId",user.AreaId) // 如果是上海市区管或者外地的市管则无需选择父级单位，默认areaid为父级单位id
					}
					<div class="form-group">
						@Html.LabelFor(m => m.CompanyName, new { @class = "control-label col-md-3" })
						<div class="col-md-9">
							@Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control", placeholder = "单位名称" })
						</div>
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.Address, new { @class = "control-label col-md-3" })
						<div class="col-md-9">
							@Html.TextBoxFor(m => m.Address, new { @class = "form-control", placeholder = "单位地址" })
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-dark btn-sm" data-dismiss="modal">取消</button>
					<button type="submit" class="btn btn-primary btn-sm">保存</button>
				</div>
			</div>
		}
	</div>
</div>


<script type="text/javascript">

	$(function () {


		$('#jstreeModal')
			.on("click.jstree", function (e) {
				e.stopImmediatePropagation();
			})
			.on("changed.jstree", function (e, data) {
				$("#SuperiorName").val(data.instance.get_node(data.selected).text);
				$("#SuperiorId").val(data.instance.get_node(data.selected).id);
				$("#bootgrid").bootgrid("reload");
				//data.instance.click();
			})
			.jstree({
				"core": {
					"animation": 0,
					"multiple": false,
					"check_callback": true,
					"themes": {},
					'data': {
						'url': function (node) {
							return '/Company/Tree';
						},
						'data': function (node) {
							return { 'id': node.id };
						}
					}
				},
				"plugins": [
					"wholerow"
				]
			});

		$.validator.unobtrusive.parse("#form1");
		$("#form1").submit(function () {
			var $form = $(this);
			if (!$form.valid())
				return false;

			if ($('#SuperiorId').val() == "") {
				alert('所属单位不能为空！')
				return false;
			}

			$.post($form.attr("action"), $form.serialize(), function (data, status) {
				if (status == "success") {

					if (data.error != 'none') {
						alertify.error(data.msg);
						return;
					}
					$('#inner-edit-form').modal('hide');
					//$("#jstree").jstree("refresh");
					alertify.success(data.msg);
				}
			});

			return false;
		});

	});


</script>