<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="renderer" content="webkit" />
	<title>@ViewBag.Title - </title>
	<!-- CSS -->
	@Styles.Render("~/css/bootstrapzc")
	@RenderSection("css", required: false)
	@Styles.Render("~/css/Ace")
</head>
<body>
	<div class="d_top">
		<div class="container top_nav">
			<div class="div_ml_mr95">
				@if (Request.IsAuthenticated)
				{
					<a class="top_s_text p_l0" href="@Url.Action("Index", "CroMy", new { id = ResSettings.SettingsInSession.UserId })">进入我的个人中心</a>
					<span class="top_s_bo"></span>
					<a class="top_s_text" href="@Url.Action("LogOff2", "Account")">退出我的登录</a>
				}
				<span class="fr "><a class="top_s_text" href="@Url.Action("Index", "CroHome")">2019年中小学微课评选活动</a><span class="top_s_bo"></span>
			</div>
		</div>
	</div>

	<div class="container i_banner">
		<img src="~/assets/img/logo.png"/>

	</div>



	<div class="container d_statement">
		<div class="div_ml_mr95">
		
				@RenderBody()

			</div>
		</div>



		<div class="d_bottom">
			<div class="container d_b w_1230">
				<p>上海市教育委员会主管、上海教育软件发展有限公司承建</p>
				<p>
					沪ICP备11037386号-6
				</p>
				<p>
					（ICP备案可在工信部网站 http://beian.miit.gov.cn查询）
				</p>
			</div>
		</div>
		@Scripts.Render("~/js/bootstrap")
		@Scripts.Render("~/js/jquery")
		@Scripts.Render("~/js/jqueryval")
		@RenderSection("plugins", required: false)
		@Scripts.Render("~/js/Ace")
		@RenderSection("scripts", required: false)
		@Scripts.Render("~/js/bootstrap")
</body>
</html>
