<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="renderer" content="webkit" />
	<title>@ViewBag.Title - </title>
	<!-- CSS -->
	@Styles.Render("~/css/bootstrap")
	@RenderSection("css", required: false)
	@Styles.Render("~/css/app")
</head>
<body>
	<div class="d_top">
		<div class="container top_nav">
		</div>
		<div class="container">
			@*<a href="@Url.Action("Index", "Home")"><img src="~/assets/img/t_banner.jpg" /></a>*@
		</div>
	</div>
	<div class="container bk_gray">
		<div class="wrap">
			@RenderBody()
		</div>
	</div>
	<div class="d_bottom">
		<div class="container d_b">
			<p>版权所有 Copy right © 2015</p>
			<p>上海市电化教育馆主管、上海教育软件发展有限公司技术支持</p>
		</div>
	</div>

	@Scripts.Render("~/js/jquery")
	@Scripts.Render("~/js/bootstrap")
	@Scripts.Render("~/js/modernizr")
	@Scripts.Render("~/js/jqueryval")
	@RenderSection("plugins", required: false)
	@Scripts.Render("~/js/app")
	@RenderSection("scripts", required: false)
</body>
</html>
