
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Access-Control-Allow-Origin" content="*">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="renderer" content="webkit" />
	<title>第九届长三角地区班主任基本功大赛活动</title>
	<!-- CSS -->
	@Styles.Render("~/css/bootstrapzc")
	@RenderSection("css", required: false)
	@Styles.Render("~/css/Ace")
</head>
<body>
	<div class="d_top">
		<div class="container top_nav">
			<div class="div_ml_mr95">
				@if (Request.IsAuthenticated)
				{

					var user = ResSettings.SettingsInSession.User;
					var link = string.Format(ThisApp.AdminSystemUrl, user.UserName, Util.Security.Encrpytor.DESEncrypt(Util.Security.Encrpytor.KEY, user.Password));

					<a class="top_s_text p_l0" href="@Url.Action("Index", "CroMy", new { id = ResSettings.SettingsInSession.UserId })">进入我的个人中心</a>
					<span class="top_s_bo"></span>
					if (null != user && user.UserTypePKID != ResUserHelper.Teacher)
					{
						<a class="top_s_text" href="@link" target="_blank">进入后台管理</a>
						<span class="top_s_bo"></span>
					}
					<a class="top_s_text" href="@Url.Action("LogOff2", "Account")">退出我的登录</a>
				}
				else
				{
				   <a class="top_s_text p_l0" href="@Url.Action("Register", "Account")">用户注册</a>
					<span class="top_s_bo"></span>
					<a class="top_s_text" href="@Url.Action("Login", "Account")">用户登录</a>
				}
				<span class="fr "><a class="top_s_text" href="@Url.Action("Index", "CroHome")">2019年中小学微课评选活动</a></span>
			</div>
		</div>
	</div>

	<div class="container i_banner">
		<a href="@Url.Action("Index", "CroHome")"><img src="~/assets/img/LOGO2019.png" style="width:52%"/></a> <a href="http://www.yrdedu.com/"><img  src="~/assets/img/logo3.png" style="width:18%;"/></a>

		<div class="div_ml_mr96 d_nav">
			<ul class="nav">
				<li><a href="@Url.Action("Index", "CroHome")">首页</a></li>
				<!--TODO:shnghai-->
				<li><a href="@Url.Action("Search", "CroResource", new { Province = CroResourceHelper.Jiangsu })">江苏省</a></li>
				<li><a href="@Url.Action("Search", "CroResource", new { Province = CroResourceHelper.Zhejiang })">浙江省</a></li>
				<li><a href="@Url.Action("Search", "CroResource", new { Province = CroResourceHelper.Shanghai })">上海市</a></li>
				<!--TODO:shnghai-->
				<li><a href="@Url.Action("Search", "CroResource", new { Province = CroResourceHelper.Anhui })">安徽省</a></li>
				<li><a href="@Url.Action("Search", "CroResource")">分类搜索</a></li>
			</ul>
			@using (Html.BeginForm("Search", "CroResource", FormMethod.Get, new { name = "searchform" }))
			{
				<div class="input-group">
					<input name="Keywords" type="text" placeholder="点击输入文字搜索" class="form-control" />
					<a href="javascript:searchform.submit();" class="input-group-addon glyphicon glyphicon-search"></a>
				</div>
			}
		</div>
	</div>



	<div class="container d_container">
		<div class="div_ml_mr96">

			@RenderBody()

		</div>
	</div>



	<div class="d_bottom">
		<div class="container d_b w_1230">
			<p>上海市电化教育馆主管、上海教育软件发展有限公司技术支持</p>
			<p>
				沪ICP备11037386号-6
			</p>
			<p>
				（ICP备案可在工信部网站 http://beian.miit.gov.cn查询）
			</p>
		</div>
	</div>

	@Scripts.Render("~/js/jquery")
	@Scripts.Render("~/js/jqueryval")
	@Scripts.Render("~/js/bootstrap")
	@RenderSection("plugins", required: false)
	@Scripts.Render("~/js/Ace")
	@RenderSection("scripts", required: false)
	
</body>
</html>
