<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="renderer" content="webkit" />
	<title>@ViewBag.Title -2019年中小学微课评选活动</title>
	<!-- CSS -->
	@Styles.Render("~/css/bootstrapzc")
	@RenderSection("css", required: false)
	@Styles.Render("~/css/app_zs")
	@{ 
		var Level = Request["Level"];
	}
</head>
<body>

	<div class="container z_top">
		<div class="top_nav zs_mg">
			@if (Request.IsAuthenticated)
			{
				<span class="fr">
					<a href="@Url.Action("Index", "My", new { id = ResSettings.SettingsInSession.UserId })">进入我的个人中心</a>
					<span class="nav_s_bo"></span>
					<a href="@Url.Action("LogOff", "Account")">退出我的登录</a>
				</span>
			}
			else
			{
				@*<span class="fr">
					<a href="@Url.Action("Login", "Account")">登录</a>
					<span class="nav_s_bo"></span>
					
				</span>*@				
			}
			<a class="nav_s_text" href="@Url.Action("Index", "Home")" target="_blank">进入2019年中小学微课评选活动</a>
			<span class="nav_s_bo"></span>
			<a class="nav_s_text" href="@Url.Action("Index", "ZSResource")">欢迎访问2019年中小学微课评选活动</a>
		</div>
	</div>

	<div class="container">

		<div class="bg_img">

			<div class="z_banner">

				<div class="banner_img">
					<a href="@Url.Action("Index", "ZSResource")"><img src="~/assets/img/zs-logo2018.png" /></a>
				</div>

				<div class="zs_mg nav_c">
					<ul class="nav">
						<li class="@(Level == "品德与社会" ? "t_c" : "")"><a href="@Url.Action("Search", "ZSResource", new { Level = "品德与社会" })">品德与社会</a></li>
						<li class="@(Level == "科普活动" ? "t_c" : "")"><a href="@Url.Action("Search", "ZSResource", new { Level = "科普活动" })">科普活动</a></li>
					</ull

					@*@using (Html.BeginForm("Search", "CroResource", FormMethod.Get, new { name = "searchform", @class = "nav_f" }))
					{
						<div class="input-group">
							<input name="Keywords" type="text" placeholder="点击输入文字搜索" class="form-control" />
							<a href="javascript:;" class="input-group-addon glyphicon glyphicon-search"></a>
						</div>
					}*@
				</div>

			</div>

			

			<div class="zs_mg">

				@RenderBody()

			</div>

		</div>

	</div>
	



	<div class="d_bottom">
		<div class="container d_b w_1230">
			<p>版权所有 Copy right © 2015</p>
			<p>上海市电化教育馆主管、上海教育软件发展有限公司技术支持</p>
			<p>
				沪ICP备11037386号-6
			</p>
			<p>
				（ICP备案可在工信部网站 http://beian.miit.gov.cn查询）
			</p>
		</div>
	</div>
	@Scripts.Render("~/js/jquery")
	@Scripts.Render("~/js/bootstrap")
	@RenderSection("plugins", required: false)
	@RenderSection("scripts", required: false)
</body>
</html>
