


@*<div class="div_cont fr w100">
	<div class="title">
		<b>相关作品</b>


	</div>
	<div class="d_user_list">
		<ul class="hot_res_list">
			@{
				int i = 1;
				foreach (CroResourceRanking item in ViewBag.RankingOfRelation)
				{
					<li>
						@if (i < 4)
						{
							<a href="@Url.Action("ZcView", "CroResource", new { id=item.CrosourceId })"><span class="square">@i</span> @item.Title</a>
						}
						else
						{
							<a href="@Url.Action("ZcView", "CroResource", new { id = item.CrosourceId })"><span>@i</span> @item.Title</a>
						}
					</li>
						i++;
				}
			}
		</ul>
	</div>
</div>*@

