@{
	ViewBag.Title = "项目管理";
}
<div class="col-md-10 content-wrapper">
	<div class="row">
		<div class="col-lg-4 ">
			<ul class="breadcrumb">
				<li>
					<i class="fa fa-home"></i>
					<a href="@Url.Action("Index", "Home")">首页</a>
				</li>
				<li><a href="javascript:void(0)">项目</a></li>
				<li class="active">@ViewBag.Title</li>
			</ul>
		</div>
	</div>

	<!-- main -->
	<div class="content">
		<div class="main-header">
			<h2>@ViewBag.Title</h2>
			<em>项目列表</em>
		</div>

		<div class="main-content">
			<div class="buttons">
				<a href="javascript:void(0)" id="addActive" class="btn btn-danger btn-add">新增项目</a>
			</div>
			<!-- widget -->
			<div class="widget">
				<div class="widget-header">
					<h3><i class="fa fa-paperclip"></i> @ViewBag.Title</h3>
					<div class="btn-group widget-header-toolbar">
						<a href="#" title="专注" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
					</div>
				</div>

				<div class="widget-content">
					<!-- Grid -->
					<div id="table-responsive">
						<table id="bootgrid" class="table table-striped table-hover">
							<thead>
								<tr>
									<th data-column-id="name">项目名称</th>
									<th data-column-id="level">项目级别</th>
									<th data-column-id="company">主办单位</th>
									<th data-column-id="description">描述</th>
									<th data-column-id="start" data-formatter="DateOnly">起始时间</th>
									<th data-column-id="end" data-formatter="DateOnly">结束时间</th>
									<th data-column-id="cmd_edit" data-formatter="cmd_edit"  data-headercs=""></th>
								</tr>
							</thead>
						</table>
					</div>
					<!-- end Grid-->
				</div>
				<!-- end widget content -->

			</div>
			<!-- end widget -->

		</div>
		<!-- /main-content -->
	</div>
	<!-- /main -->
</div>

<!-- Modal start -->
<div class="modal fade" id="inner-edit-form" tabindex="-1" role="dialog"></div>
<!-- Modal end -->

@section Css {
	@Styles.Render("~/css/bootgrid")
}
@section Plugins {
	@Scripts.Render("~/js/bootgrid")
}
@section Scripts {
	<script type="text/javascript">


		function getGridOptions() {
			var userType = '@ResSettings.SettingsInSession.User';
			var isAdmin = userType != '@ResUserHelper.RegistedUser' && userType != '@ResUserHelper.Export';
			return $.extend(true, {}, gridOptions, {

				url: "@Url.Action("Search","Active")",

				formatters: {
					"cmd_edit": function (column, row) {
						if (isAdmin) {
							return '<div class="btn-group btn-group-xs pull-right"><button data-row-id="' + row.id + '" class="btn btn-success btn-edit">编辑</button>' +
								'<button type="button" class="btn cmd_public" data-row-id="' + row.id + '" title="公开/不公开"><fa>' + (row["pstateId"] == 10450 ? "不公开" : "公开") + '</fa></button>' +
								'<button type="button" class="btn btn-info  cmd_download" data-row-id="' + row.id + '" title="下载/禁止下载"><fa>' + (row["dstateId"] == 10452 ? "下载" : "禁止下载") + '</fa></button></div>';
						}
					}
				},

				//defaultSearch: decodeURI(window.location.search.substr(3)),

				labels: {
					search: "名称搜索"
				},

			});

		}


		$(function () {

			var grid = $("#bootgrid")
					.bootgrid(getGridOptions())
					.on("loaded.rs.jquery.bootgrid", function () {

						grid.find("tbody tr:has(button.iselite)").addClass("flagelite");
						grid.find("tbody tr:has(button.isallow)").addClass("flagallow");

						grid
							.find('.btn-edit').on('click', function () {
								var id = $(this).data("row-id");
								$.get('@Url.Action("Edit", "Active")?id=' + id, function (response) {
									$("#inner-edit-form")
											.html(response).modal("show");
								});
							}).end()
						.find(".cmd_public").on("click", function () {
							var id = $(this).data("row-id");
							$.post("/Active/PublicSetting", { id: id }, function (data, status) {
								if (data.cmd == "Updated") { alertify.success(data.msg); grid.bootgrid("reload"); }
								else { alertify.error(data.msg); }
							});
						}).end()

					   // 下载设置
					   .find(".cmd_download").on("click", function () {
					   	var id = $(this).data("row-id");
					   	$.post("/Active/DownloadSetting", { id: id }, function (data, status) {
					   		if (data.cmd == "Updated") { alertify.success(data.msg); grid.bootgrid("reload"); }
					   		else { alertify.error(data.msg); }
					   	});
					   }).end();

						@*grid
						.find('.btn-pub').on('click', function () {
					   	var id = $(this).parent().data("row-id");
					   	$.get('@Url.Action("PubRoleList", "Active")?id=' + id, function (response) {
					   		$("#inner-edit-form")
										.html(response).modal("show");
					   	});
						});
					grid
					.find('.btn-dwn').on('click', function () {
						var id = $(this).parent().data("row-id");
						$.get('@Url.Action("DwnRoleList", "Active")?id=' + id, function (response) {
							$("#inner-edit-form")
									.html(response).modal("show");
						});
					});*@

					});


			$('#addActive').on('click', function () {
				$.get('@Url.Action("Edit", "Active")', function (response) {
					$("#inner-edit-form")
							.html(response).modal("show");
				});
			});

		});

	</script>
}