@{
	var pageTitle = ViewBag.Title = "选择专家";
}

<div class="modal-dialog" style="width:90%;">
	<div class="modal-content">
		<div class="color-line"></div>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title" id="firstModalLabel">@pageTitle</h4>
		</div>


		<div class="modal-body" style="height:100%">
			<div class="buttons" style="margin-left:2%">
				<a href="javascript:void(0)" id="assign" class="btn btn-info btn-md">分配</a>&nbsp;
				<a href="javascript:void(0)" id="remove" class="btn btn-danger btn-md">取消分配</a>&nbsp;
			</div>
			<!-- Grid -->
			<div class="table-responsive">
				<table id="bootgridExpert" class="table table-striped table-hover table-dark-header">
					<thead>
						<tr>
							<th data-column-id="userName">用户名</th>
							<th data-column-id="realName">专家姓名</th>
							<th data-column-id="commands" data-formatter="commands" data-sortable="false" data-header-Css-Class="width180">操作</th>
						</tr>
					</thead>
				</table>
			</div>
			<!-- end Grid-->
		</div>

	</div>
</div>


<script>
	var groupId = '@Model';

	function getRequest() {
		return {
			id:groupId
		};
	}

	function getGridOptions2() {
		return $.extend(true, {}, gridOptions, {

			url: '@Url.Action("ExpList","EvalManage")',

			requestHandler: function (request) { return $.extend(true, request, getRequest()); },

			formatters: {
				'commands': function (column, row) {
					var id = row.id;
					if (row.isSelect) {
						return '<div class="btn-group btn-group-xs pull-right"  data-id="' + id + '" data-exp-id="' + row.expId + '">' +
							 '<button class="btn btn-danger btn-remove" data-url="@Url.Action("RemoveExp", "EvalManage")">取消分配</button>' +
							 '</div>';
					}
					else {
						return '<div class="btn-group btn-group-xs pull-right" data-exp-id="' + row.expId + '" data-id="' + id + '">' +
								 '<button class="btn btn-warning btn-assign" data-url="@Url.Action("AssignExp", "EvalManage")">分配</button>' +
								 '</div>';
					}
				},
			},
		});
	}

	$(function () {

		var expids = [];
		var expertGrid = $('#bootgridExpert');

		expertGrid.bootgrid(getGridOptions2())
		.on('loaded.rs.jquery.bootgrid', function () {

			expids = [];
			//复选框列初始化
			initTableCheckbox('bootgridExpert');

			$(expertGrid).find('.btn-assign').on('click', function () {
				var url = $(this).data('url');
				var expId = $(this).parent().data('expId');
				$.post(url, { id: groupId, expId: expId }, function (data) {
					if (data.error == "none") {
						alertify.success(data.msg);
						expertGrid.bootgrid("reload");
					}
					else {
						alertify.error(data.msg);
					}
				});
			}).end()
				.find('.btn-remove').on('click', function () {
					var url = $(this).data('url');
					var id = $(this).parent().data('id');
					$.post(url, { id: id }, function (data) {
						if (data.error == "none") {
							alertify.success(data.msg);
							expertGrid.bootgrid("reload");
						}
						else {
							alertify.error(data.msg);
						}
						
					});
				}).end()
			  // 复选框
				.find('.checkItem').click(function () {
					expids = [];
					$('.checkItem').each(function () {
						if ($(this).is(':checked')) {
							var expid = $(this).parents('tr').find('.btn-group').data('expId');
							expids.push(expid);
							console.log(expids);
						}
					});
				}).end()
				//全选
				.find('#checkAll').removeAttr('checked').click(function () {
					expids = [];
					if ($(this).is(':checked')) {
						expertGrid.find('.btn-group').each(function () {
							var expId = $(this).data('expId');
							expids.push(expId);
							console.log(expids);
						});
					}
				});

		});

		$('#assign').on('click', function () {
			if (expids.length <= 0) {
				alert('必须选择专家');
				return false;
			}

			$.post("@Url.Action("MulitAssignExp", "EvalManage")", { id: groupId, ids: expids.join(',') }, function (data) {
				if (data.error=="none") {
					alertify.success(data.msg);
					expertGrid.bootgrid('reload');
				}
				else {
					alertify.error(data.msg);
				}
			});
		});

		$('#remove').on('click', function () {
			if (expids.length <= 0) {
				alert('必须选择专家');
				return false;
			}

			$.post("@Url.Action("MulitRemoveExp", "EvalManage")", { id: groupId, ids: expids.join(',') }, function (data) {
				if (data.error == "none") {
					alertify.success(data.msg);
					expertGrid.bootgrid('reload');
				}
				else {
					alertify.error(data.msg);
				}
			});
		});

	});
</script>