@model List<MicroCourseRanking>
<ul class="res_list">

	@foreach (MicroCourseRanking item in Model)
	{
		<li>
			<a href="@Url.Action("ZcView", "CroResource", new { id = item.CrosourceId,courseId=item.CourseId })">
				<div>
					<img src="@item.FitCoverPath" height="110" />
				</div>
				<p>@item.Title</p>
				<p><span>单位：</span>@item.AuthorCompany</p>
				<p><span>播放次数：</span>@item.PlayCount</p>
				<p><span>点赞次数：</span>@item.FavoriteCount</p>
			</a>
		</li>
	}

</ul>