
@{
	var id = this.ViewContext.RouteData.Values["id"];
	Layout = "~/Views/Shared/_CroLayout.cshtml";
	ViewBag.Title = "我收藏的作品";
}



<div class="menu">
	<div class="fl">首页 > <span>作品收藏列表</span></div>

</div>


<div class="ranking">
	@foreach (CroMyResource item in ViewBag.ListOfResource)
	{
		<div class="ranking_square">

			<div class="details wide">
				<a href="@Url.Action("ZcView", "CroResource", new { id = item.CrosourceId })"><span class="restitle">@item.Title</span></a>

				<div class="info">
					<div class="col-md-11">
						<p>
							项目：<span>@item.Active</span>
							作者：<span>@item.Author</span>
							省份：<span>@item.Province</span>
							地区：<span>@item.Area</span>
						</p>
						<p>
							单位：<span>@item.Company</span>
							收藏日期：<span>@item.OccurTime.ToShortDateString()</span>
						</p>
					</div>
					@if (ResSettings.SettingsInSession.UserId == Convert.ToInt64(id))
					{
						<div class="col-md-1">
							<a href="@Url.Action("DeleteFavorite", "CroMy",  new { id = ResSettings.SettingsInSession.UserId, resid = item.OccurId })" class="btn btn-default  ">删除收藏</a>
						</div>
					}
				</div>

			</div>

		</div>
	}
</div>

<div>
	@Html.Pager((int)ViewBag.PageSize, (int)ViewBag.PageNumber, (int)ViewBag.TotalItemCount).Options(o => o
							.DisplayTemplate("_Bootstrap3Pagination")
						  .MaxNrOfPages(10)
						  .AlwaysAddFirstPageNumber()
						  .AddRouteValue("type", ViewBag.ParamType)
		  )
</div>
