
@{
	var id = this.ViewContext.RouteData.Values["id"];
	Layout = "~/Views/Shared/_CroLayout.cshtml";
	ViewBag.Title = "我的作品列表";
}



<div class="menu">
	<div class="fl">首页 > <span>@ViewBag.Title</span></div>

</div>
<div class="res_list">


@foreach (CroMyResource item in ViewBag.ListofResource)	
{
	
	<div class="res">
		<img id="photo" class="cover" src="@item.FitCoverPath" />
		<div class="res_text">
			<p>
				<a href="@Url.Action("ZcView", "CroResource", new { id = item.CrosourceId })"><span class="restitle">@item.Title</span></a>
			</p>
			<p>
				作者：<b>@item.Author</b>   类型：<b>@(item.ResourceTypePKID== CroResourceHelper.Video?"课堂实录":"论文") </b>     上传时间：<b>@item.OccurTime.ToShortDateString()</b>
				@*<br />
				审核意见:
				@if (item.StatePKID == CroResourceHelper.StateDeny)
				{
					<b style="color:red;">@item.AuditOpinion</b>
				}
				else
				{
					<b>@item.AuditOpinion</b>
				}*@  
				<span class="fr">
					<a href="@Url.Action("ZcView", "CroResource", new { id = item.CrosourceId })" >
						<input type="button" value="预览"  /></a>
			@if (ResSettings.SettingsInSession.UserId == Convert.ToInt64(id) && item.IsCurrentActive)
			{
					<a href="@Url.Action("Upload", "CroMy", new { id = ResSettings.SettingsInSession.UserId, resid = item.CrosourceId })">
						<input type="button" value="修改" />
					</a>
					<a href="@Url.Action("Delete", "CroMy",new { id = ResSettings.SettingsInSession.UserId, resid = item.CrosourceId })" onclick="{ if (confirm('确定要删除该作品吗')) { return true; } return false;}">
						<input type="button" value="删除" />
					</a>
			}
</span>
			</p>
		</div>
	</div>
	
			}

</div>


<div>
	@Html.Pager((int)ViewBag.PageSize, (int)ViewBag.PageNumber, (int)ViewBag.TotalItemCount).Options(o => o
							.DisplayTemplate("_Bootstrap3Pagination")
						  .MaxNrOfPages(10)
						  .AlwaysAddFirstPageNumber()
						  .AddRouteValue("type", ViewBag.ParamType)
		  )
</div>
@section scripts{
	<script>
		$(function () {
			expandMy("resource");

			var userid = '@ResSettings.SettingsInSession.UserId';

			$('.download').on('click', function () {
				$.post('@Url.Action("DownloadSetting", "CroMy")', { id: userid , resid:$(this).data('resId')}, function (data) {
					location.href=location.href;
				});
			});

			$('.public').on('click', function () {
				$.post('@Url.Action("PublicSetting", "CroMy")', { id: userid, resid: $(this).data('resId') }, function (data) {
					location.href=location.href;
				});
			});

		})
	</script>
}