
@{
	var id = this.ViewContext.RouteData.Values["id"];
	Layout = "~/Views/Shared/_CroLayout.cshtml";
	ViewBag.Title = "我的评论";
}



<div class="menu">
	<div class="fl">首页 > <span>作品评论列表</span></div>

</div>


		<div class="ranking">
			@foreach (CroMyResource item in ViewBag.ListOfResource)
			{
				<div class="ranking_square">

					<div class="details wide">
						<a href="@Url.Action("ZcView", "CroResource", new { id = item.CrosourceId })"><span class="restitle">@item.Title</span></a>


						<div class="info">
							<p>
								项目：<span>@item.Active</span>
								作者：<span>@item.Author</span>
								省份：<span>@item.Province</span>
								地区：<span>@item.Area</span>
							</p>
							<p>
								单位：<span>@item.Company</span>
								评论日期：<span>@item.OccurTime.ToShortDateString()</span>
							</p>
						</div>
						<p class="snippet"><b>评论：</b>@item.Content</p>
                  @if (ResSettings.SettingsInSession.UserId == Convert.ToInt64(id))
                   {
							<a href="@Url.Action("DeleteComment", "CroMy", new { id = ResSettings.SettingsInSession.UserId, resid = item.OccurId })" class="btn btn-default  ">删除评论</a>
                   }
					</div>
				</div>
			}
		</div>









<div>
	@Html.Pager((int)ViewBag.PageSize, (int)ViewBag.PageNumber, (int)ViewBag.TotalItemCount).Options(o => o
							.DisplayTemplate("_Bootstrap3Pagination")
						  .MaxNrOfPages(10)
						  .AlwaysAddFirstPageNumber()
						  .AddRouteValue("type", ViewBag.ParamType)
		  )
</div>


