@{
	ViewBag.Title = "我的收藏";
}
<ul class="nav nav-tabs my_nav">
	<li><a href="@Url.Action("Index")">个人信息</a></li>
	<li><a href="@Url.Action("Resource")">我的上传</a></li>
	<li class="active"><a>我的收藏</a></li>
	<li><a href="@Url.Action("Comment")">我的评论</a></li>
</ul>
<div class="full_white">

<!--作品列表 -->
<div class="block_panel blue_edge">
	<div class="panel_title nav">
		<a href="@Url.Action("Index", "My")">我的空间</a> > <span>@ViewBag.Title</span>
	</div>
	<div class="body">
		<div class="ranking">
			@foreach (ResMyResource item in ViewBag.ListOfResource)
			{
				<div class="ranking_square">
					<a href="@Url.Action("View", "Resource", new { id=item.ResourceId })" title="@item.Title"><img class="cover" src="@item.FitCoverPath" /></a>
					<div class="details wide">
						<a href="@Url.Action("View", "Resource", new { id=item.ResourceId })" title="@item.Title"><span class="restitle">@item.Title</span></a><br />
						<p class="snippet">@item.Description</p>
						<div class="info">
							作者：<span>@item.Author</span>
							收藏日期：<span>@item.OccurTime.ToShortDateString()</span>
							格式：<span>@item.FileExtName</span>
						</div>
					</div>
					<a href="@Url.Action("DeleteFavorite", new { id = item.OccurId })" class="btn btn-default">删除收藏</a>
				</div>
			}
		</div>
		<div>
			@Html.Pager((int)ViewBag.PageSize, (int)ViewBag.PageNumber, (int)ViewBag.TotalItemCount).Options(o => o
							.DisplayTemplate("_Bootstrap3Pagination")
						  .MaxNrOfPages(10)
						  .AlwaysAddFirstPageNumber()
		  )
		</div>
	</div>
</div>

</div>
