@{
	Layout = "~/Views/Shared/_CroLayout.cshtml";
	ViewBag.Title = "通知公告";
}

	<div class="menu">

		<div class="fl">
			<a href="@Url.Action("Index", "Home")">首页</a> > <span>@ViewBag.Title</span>
		</div>
	</div>


	<div class="uk-grid list">
	<table class="table table-striped">
		<tr>
			<th>公告标题</th>
			<th>公告内容</th>
			<td>上传日期</td>
		</tr>
		@foreach (CroBulletin item in ViewBag.RankingBulletin)
		{
			<tr>
				<td><a href="@Url.Action("NewsView", "CroMy", new { id=item.BulletinId })" title="@item.Title"><span class="restitle">@item.Title</span></a></td>
				<td>@Html.Raw(@item.Content)	</td>
				<td>@item.CreatedTime.ToShortDateString()</td>
			</tr>
		}
	</table>
</div>