@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "通知公告";
}
<div class="menu">
	<div class="fl">
		<a href="@Url.Action("Index", "Home")">首页</a> > <span>@ViewBag.Title</span>
	</div>
</div>

<div class="uk-grid list">
	<table class="table table-striped">
		<tr>
			<th>公告标题</th>
			<td>上传日期</td>
		</tr>
		@foreach (CroBulletin item in ViewBag.RankingBulletin)
		{
		<tr>
			<td><a href="@Url.Action("View", "CroBulletin", new { id=item.BulletinId })" title="@item.Title"><span class="restitle">@item.Title</span></a></td>
			<td>@item.CreatedTime.ToShortDateString()</td>
		</tr>
		}
	</table>


	<div>
		@Html.Pager((int)ViewBag.PageSize, (int)ViewBag.PageNumber, (int)ViewBag.TotalItemCount).Options(o => o
									.DisplayTemplate("_Bootstrap3Pagination")
								  .MaxNrOfPages(10)
								  .AlwaysAddFirstPageNumber()
								  .AddRouteValue("type", ViewBag.ParamType)
				  )
	</div>
</div>
	