@model List<Exercises>

<div class="modal-dialog" style="z-index:19999">
	<div class="widget">
		<div class="widget-content" style="overflow-y:scroll">

			@foreach (var item in Model)
			{
				<ul class="list">
					   <li class="list-group-item">
							<h4>@item.Name</h4>
						</li>
						@foreach (var subItem in item.Items ?? new List<ExercisesItem>())
						{
							<li class="list-group-item">@subItem.Code : @Html.RadioButton("btn-exe", new { @class = "form-control" }) @subItem.Item</li>
						}
					 <li class="list-group-item an"><button class="btn-answer" data-id="@item.ExerciseId" >点击查看答案</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="red" id="@item.ExerciseId" class="hidden answer">@item.Answer</font></li>
				</ul>

				<hr />
			}

		</div>
	</div>

</div>

<script>
	$(function () {

		$('.btn-answer').on('click', function () {
			var answerId = $(this).data('id');
			$('#' + answerId).removeClass('hidden');
		});

	});
</script>