@{
	ViewBag.Title = "分类查询众筹资源";
}
<div class="col-md-10 content-wrapper">
	<div class="row">
		<div class="col-lg-4 ">
			<ul class="breadcrumb">
				<li>
					<i class="fa fa-home"></i>
					<a href="@Url.Action("Index", "Home")">首页</a>
				</li>
				<li><a href="@Url.Action("Index", "Crosource")">众筹资源</a></li>
				<li class="active">@ViewBag.Title</li>
			</ul>
		</div>
	</div>

	<!-- main -->
	<div class="content">
		<div class="main-header">
			<h2>@ViewBag.Title</h2>
			<em>按众筹资源分类<span class="text-info"> @Request["title"] </span>进行查询</em>
		</div>

		<div class="main-content">

			<!-- widget -->
			<div class="widget">
				<div class="widget-header">
					<h3><i class="fa fa-paperclip"></i> @ViewBag.Title</h3>
					<div class="btn-group widget-header-toolbar">
						<a href="#" title="专注" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
					</div>
				</div>

				<div class="widget-content">
					<!-- Condition -->
					<div class="col-sm-12">
			
						<form class="pull-right condition">
							@Html.DropDownList("Domain", CroResourceHelper.Domain.GetSelectList(), "全部领域", new { @class = "multiselect" })
							@Html.DropDownList("ResourceType", CroResourceHelper.ResourceType.GetSelectList(), "全部资源类型", new { @class = "multiselect" })
							@Html.DropDownList("MediumType", CroResourceHelper.MediumType.GetSelectList(), "全部媒体格式", new { @class = "multiselect" })
							@Html.DropDownList("SchoolType", CroResourceHelper.SchoolType.GetSelectList(), "全部学校类型", new { @class = "multiselect" })
							@Html.DropDownList("Deformity", CroResourceHelper.Deformity.GetSelectList(), "全部残疾类别", new { @class = "multiselect" })
							@Html.DropDownList("LearnFrom", CroResourceHelper.LearnFrom.GetSelectList(), "全部安置形式", new { @class = "multiselect" })
							@Html.DropDownList("Stage", CroResourceHelper.Stage.GetSelectList(), "全部学段", new { @class = "multiselect" })
							@Html.DropDownList("Grade", CroResourceHelper.Grade.GetSelectList(), "全部年级", new { @class = "multiselect" })
							@Html.DropDownList("State", CroResourceHelper.State.GetSelectList(), "全部审核状态", new { @class = "multiselect" })
							@Html.DropDownList("Subject", CroResourceHelper.Subject.GetSelectList(), "全部学科", new { @class = "multiselect" })
						</form>
					</div>
					<!-- end Condition-->
					<div class="col-sm-12">
						<hr />
					</div>
					<!-- Grid -->
					<div id="table-responsive">
						<table id="bootgrid" class="table table-striped table-hover">
							<thead>
								<tr>
									<th data-column-id="Title" data-formatter="LookupResource" data-headercs="titlewidth">标题</th>
									<th data-column-id="Author">上传作者</th>
									<th data-column-id="MediumType">格式</th>
									<th data-column-id="CreatedTime">上传日期</th>
									<th data-column-id="ViewCount">点击量</th>
									<th data-column-id="DownCount">下载量</th>
									<th data-column-id="FavoriteCount">收藏量</th>
									<th data-column-id="CommentCount">评论量</th>
									<th data-column-id="StarTotal">总评分</th>
									<th data-column-id="State">状态</th>
									<th data-column-id="cmd_approve" data-formatter="cmd_approve" data-sortable="false" data-headercs="cmdwidth"></th>
									<th data-column-id="cmd_elite" data-formatter="cmd_elite" data-sortable="true" data-headercs="cmdwidth2">精</th>
									<th data-column-id="cmd_delete" data-formatter="cmd_delete" data-sortable="false" data-headercs="cmdwidth"></th>
								</tr>
							</thead>
						</table>
					</div>
					<!-- end Grid-->
				</div>
				<!-- end widget content -->

			</div>
			<!-- end widget -->

		</div>
		<!-- /main-content -->
	</div>
	<!-- /main -->
</div>
@section Css {
	@Styles.Render("~/css/multiselect")
	@Styles.Render("~/css/bootgrid")
}
@section Plugins {
	@Scripts.Render("~/js/multiselect")
	@Scripts.Render("~/js/bootgrid")
}
@section Scripts {

<script type="text/javascript">
	var canbeAudit =	@(ResSettings.SettingsInSession.CanbeAuditResource?1:0);


	function getGlobalRequest() {
		var theRequest = {};
		var array = $(".condition").serializeArray();
		$.each(array, function (i, field) {
			if (field.value) { theRequest[field.name] = field.value; }
		});
		return theRequest;
	}

	function getGridOptions() {

		return $.extend(true, {}, gridOptions, {

			url: "/Crosource/Category",

			formatters: {
				"LookupResource": function (column, row) {
					var text = row[column.id], url = '/Crosource/Details/' + row["id"];
					return "<span class='elitedot'>【精】</span><a href='" + url + "'>" + text + "</a>";
				},
				"cmd_approve": function (column, row) {
					return canbeAudit ?  "<button type='button' class='btn btn-xs " + (row["StatePKID"] == 10352 ? "isallow" : "") + " cmd_approve' data-row-id='" + row.id + "' data-row-title='" + row.Title + "' title='审核合格/不合格'><span class='fa fa-gavel'></span></button>" : "";
				},
				"cmd_elite": function (column, row) {
					return canbeAudit ?  "<button type='button' class='btn btn-xs " + (row["EliteScore"] > 0 ? "iselite" : "") + " cmd_elite' data-row-id='" + row.id + "' data-row-title='" + row.Title + "' title='加精/取消'><span class='fa fa-thumbs-up'></span></button>" : "";
				},
				"cmd_delete": function (column, row) {
					return canbeAudit ?  "<button type='button' class='btn btn-xs cmd_delete' data-row-id='" + row.id + "' data-row-title='" + row.Title + "' title='删除'><span class='fa fa-trash-o'></span></button>" : "";
				},
			},

			requestHandler: function (request) { return $.extend(true, request, getGlobalRequest()); },

			labels: {
				search: "关键字搜索"
			},

		});

	}

	var dict = [
		{ id: 10231, name: "政策", domain: 10001 },
		{ id: 10232, name: "评估工具与方法", domain: 10002 },
		{ id: 10233, name: "评估报告", domain: 10002 },
		{ id: 10234, name: "课程方案与标准", domain: 10003 },
		{ id: 10235, name: "教学设计", domain: 10003 },
		{ id: 10236, name: "教学课件", domain: 10003 },
		{ id: 10237, name: "教学实录", domain: 10003 },
		{ id: 10238, name: "个别化教育计划", domain: 10003 },
		{ id: 10239, name: "康复训练设计", domain: 10004 },
		{ id: 10240, name: "康复训练课件", domain: 10004 },
		{ id: 10241, name: "康复训练实录", domain: 10004 },
		{ id: 10242, name: "残疾人支持服务项目介绍", domain: 10005 },
		{ id: 10243, name: "评估视频", domain: 10002 },
		{ id: 10244, name: "教学案例", domain: 10003 },
		{ id: 10245, name: "教学资源包", domain: 10003 },
		{ id: 10246, name: "校本教材", domain: 10003 },
		{ id: 10247, name: "辅助器具介绍", domain: 10005 },
		{ id: 10248, name: "教具学具介绍", domain: 10005 },
		{ id: 10249, name: "支持与服务个案报告", domain: 10005 },
		{ id: 10250, name: "文献", domain: 10001 },
		{ id: 10251, name: "康复训练案例", domain: 10004 },
		{ id: 10252, name: "个别化康复训练计划", domain: 10004 },
		{ id: 10253, name: "家庭教育", domain: 10005 },
	];

	function roll() {
		var domain = $("#Domain").val();
		var sel = $("#ResourceType");
		var sed = sel.val();
		sel.empty();
		sel.append("<option value=''>全部资源类型</option>");
		$.each(dict, function (i, n) {
			if (n.domain == domain || domain == "")
				sel.append("<option value='" + n.id + "'>" + n.name + "</option>");
		});
		sel = $("#ResourceType option[value='" + sed + "']");
		if (sel.length > 0)
			sel.attr("selected", true);
		else
			$('#ResourceType option:first').attr('selected', 'selected');
	}

	$(function () {

		//$(".multiselect").multiselect({
		//	maxHeight: 214,
		//	onChange: function () { grid.bootgrid("reload"); }
		//});

		var grid = $("#bootgrid")
				.bootgrid(getGridOptions())
				.on("loaded.rs.jquery.bootgrid", function () {

					grid.find("tbody tr:has(button.iselite)").addClass("flagelite");
					grid.find("tbody tr:has(button.isallow)").addClass("flagallow");

					grid
						.find(".cmd_approve").on("click", function (e) {
							var id = $(this).data("row-id"),
								 title = $(this).data("row-title"),
								 tr = $(this).parent().parent(),
								 value = tr.hasClass("flagallow"),
								 brother = $(this).parent().prev();
							$.post("/Crosource/Approve", { id: id, value: !value }, function (data, status) {
								alertify.success("资源 【" + title + "】 审核完成。");
								tr.toggleClass("flagallow");
								brother.text(!value ? "审核合格" : "审核不合格");
							});
						}).end()

						// 资源加精
						.find(".cmd_elite").on("click", function (e) {
							var id = $(this).data("row-id"),
								 tr = $(this).parent().parent(),
								 value = tr.hasClass("flagelite");
							$.post("/Crosource/Elite", { id: id, value: !value }, function (data, status) {
								tr.toggleClass("flagelite");
							});
						}).end()

						// 删除资源
						.find(".cmd_delete").on("click", function (e) {
							var id = $(this).data("row-id"), title = $(this).data("row-title");
							var msg = "确认要删除资源 【" + title + "】 吗？";
							alertify.confirm(msg, function (e) {
								if (e) {
									$.post("/Crosource/Delete", { id: id }, function (data, status) {
										if (data.cmd == "Deleted") { alertify.success(data.msg); grid.bootgrid("reload"); }
										else { alertify.error(data.msg); }
									});
								}
							});
						});

				});

		$("#Domain").on("change", function () {
			roll();
		});

		$(".multiselect").on("change", function () { grid.bootgrid("reload"); })

	});

</script>


}