@model List<Res.Models.CroReport>
@{
	ViewBag.Title = "众筹资源分布";
}
<div class="col-md-10 content-wrapper">
	<div class="row">
		<div class="col-lg-4 ">
			<ul class="breadcrumb">
				<li>
					<i class="fa fa-home"></i>
					<a href="@Url.Action("Index", "Home")">首页</a>
				</li>
				<li class="active">@ViewBag.Title</li>
			</ul>
		</div>
	</div>

	<!-- main -->
	<div class="content">
		<div class="main-header">
			<h2>@ViewBag.Title</h2> 
			<em>查看众筹资源库用户统计情况</em>
		</div>

		<div class="main-content col-md-6">

			<!-- widget -->
			<div class="widget">
				<div class="widget-header">
					<h3><i class="fa fa-paperclip"></i> @ViewBag.Title</h3>
					<div class="btn-group widget-header-toolbar">
						<a href="#" title="专注" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
					</div>
				</div>

				<div class="widget-content">
					
					<!-- Grid -->
					<div id="table-responsive">

						<table class="table">
							<tbody>
								@foreach (var item in Model.GroupBy(m => m.Area))
								{
									<tr class="info">
										<td>@item.Key <span class="badge pull-right">@item.Sum(m => m.Cnt)</span></td>
									</tr>
									foreach (var it in Model.FindAll(m => m.Area == item.Key & m.Cnt > 0))
									{
										<tr>
											<td style="padding-left: 20px">@it.Company <span class="badge pull-right">@it.Cnt</span></td>
										</tr>
									}
								}
							</tbody>
							<tfoot>
								<tr class="danger">
									<td>总计 <span class="badge pull-right">@Model.Sum(m => m.Cnt)</span></td>
								</tr>
							</tfoot>
						</table>

					</div>
					<!-- end Grid-->
				</div>
				<!-- end widget content -->

			</div>
			<!-- end widget -->

		</div>
		<!-- /main-content -->
	</div>
	<!-- /main -->
</div>
