@{
	ViewBag.Title = "查询作品";

	var user = ResSettings.SettingsInSession.User;
	var deliverySelectList = new List<SelectListItem>();
	if (user.UserTypePKID == ResUserHelper.ProvinceAdmin || user.UserTypePKID==ResUserHelper.Admin)
	{
		deliverySelectList.Add(new SelectListItem { Text= CroResourceHelper.ProviceDelivery, Value=CroResourceHelper.ProviceLevelDelivery.ToString() } );
		deliverySelectList.Add(new SelectListItem { Text = CroResourceHelper.CityDelivery, Value = CroResourceHelper.CityLevelDelivery.ToString() });
	}
	else if (user.UserTypePKID == ResUserHelper.CityAdmin)
	{
		deliverySelectList.Add(new SelectListItem { Text = CroResourceHelper.CityDelivery, Value = CroResourceHelper.CityLevelDelivery.ToString() });
	}
	deliverySelectList.Insert(0, new SelectListItem { Text = CroResourceHelper.NotDelivery, Value = CroResourceHelper.NotSelect.ToString() });
}
<div class="col-md-10 content-wrapper">
	<div class="row">
		<div class="col-lg-4 ">
			<ul class="breadcrumb">
				<li>
					<i class="fa fa-home"></i>
					<a href="@Url.Action("Index", "Home")">首页</a>
				</li>
				<li><a href="@Url.Action("Index", "Crosource")">作品</a></li>
				<li class="active">@ViewBag.Title</li>
			</ul>
		</div>
	</div>

	<!-- main -->
	<div class="content">
		<div class="main-header">
			<h2>@ViewBag.Title</h2>
			<em>按名称查询作品</em>
		</div>

		<div class="main-content">

			<div class="buttons">
				<a href="@Url.Action("Edit", "Crosource")" id="addUser" class="btn btn-danger btn-md">新增作品</a>&nbsp;
				@if (user.UserTypePKID == ResUserHelper.Admin)
				{
					<a href="#" id="approve" class="btn btn-info btn-approve">审核</a>
					<a href="#" id="public" class="btn btn-primary btn-public">公开设置</a>
					<a href="#" id="download" class="btn btn-default btn-download">下载设置</a>
					<a href="#" id="winLevel" class="btn btn-success btn-winLevel">设置奖项</a>
				}
				else if (user.UserTypePKID == ResUserHelper.CityAdmin || user.UserTypePKID == ResUserHelper.ProvinceAdmin)
				{
					<a href="#" id="delivery" class="btn btn-primary btn-delivary">报送</a>
					<a href="#" id="cancel" class="btn btn-default btn-cancel">取消报送</a>
					<a href="#" id="winLevel" class="btn btn-success btn-winLevel">设置奖项</a>
				}
				
			</div>
			<!-- widget -->
			<div class="widget">
				<div class="widget-header">
					<h3><i class="fa fa-paperclip"></i> @ViewBag.Title</h3>
					<div class="btn-group widget-header-toolbar">
						<a href="#" title="专注" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
					</div>
				</div>

				<div class="widget-content">

					<div class="row">
						<div class="col-sm-2">
							@Html.DropDownList("Active", (ViewBag.Actives as List<Active>).Select(x => new SelectListItem { Text = x.ActiveName, Value = x.ActiveId.ToString() }), "选择项目", new { @class = "search-field form-control" })
						</div>
						<div class="col-sm-2">
							@Html.DropDownList("Province", (ViewBag.Provinces as List<ResCompany>).Select(x => new SelectListItem { Text = x.CompanyName, Value = x.CompanyId.ToString() }), "选择省份", new { @class = "form-control province" })
						</div>
						<div class="col-sm-2">
							@Html.DropDownList("Area", (ViewBag.Areas as List<ResCompany>).Select(x => new SelectListItem { Text = x.CompanyName, Value = x.CompanyId.ToString() }), "选择地区", new { @class = "form-control area" })
						</div>
						<div class="col-sm-2">
							@Html.DropDownList("Company", (ViewBag.Companies as List<ResCompany>).Select(x => new SelectListItem { Text = x.CompanyName, Value = x.CompanyId.ToString() }), "选择单位", new { @class = "form-control company" })
						</div>
						<div class="col-sm-2">
							@Html.DropDownList("Grade", CroResourceHelper.Grade.GetSelectList(), "选择年级", new { @class = "form-control search-field" })
						</div>
						<div class="col-sm-2">
							@Html.DropDownList("Subject", CroResourceHelper.Subject.GetSelectList(), "选择学科", new { @class = "form-control search-field" })
						</div>
						<div class="col-sm-2" style="margin-top:10px;">
							@Html.DropDownList("Delivery", deliverySelectList, "报送状态", new { @class = "form-control search-field" })
						</div>
						@*<div class="col-sm-2" style="margin-top:10px;">
							@Html.DropDownList("Public", CroResourceHelper.PublicState.GetSelectList(), "选择公开状态", new { @class = "form-control search-field" })
						</div>*@
						<div class="col-sm-2" style="margin-top:10px;">
							@Html.DropDownList("State", CroResourceHelper.State.GetSelectList(), "状态", new { @class = "form-control search-field" })
						</div>
						<div class="col-sm-2" style="margin-top:10px;">
							@Html.TextBox("MinScore", null, new { @class = "form-control score", @placeholder = "大于得分" })
						</div>
						<div class="col-sm-2" style="margin-top:10px;">
							@Html.TextBox("MaxScore", null, new { @class = "form-control score", @placeholder = "小于得分" })
						</div>
						<div class="col-sm-2 buttons">
							<button id="search" class="btn btn-info btn-search"><i class="fa fa-search"></i>查询</button>
						</div>
					</div>

					<!-- Grid -->
					<div id="table-responsive">
						<table id="bootgrid" class="table table-striped table-hover">
							<thead>
								<tr>
									<th data-column-id="Title" data-formatter="LookupResource">作品名称</th>
									<th data-column-id="Author" cmdwidth>上传作者</th>
									<th data-column-id="Type" cmdwidth>作品类型</th>
									@*<th data-column-id="Province" class="cmdwidth">省份</th>
									<th data-column-id="Area" class="cmdwidth">地区</th>*@
									<th data-column-id="School" class="cmdwidth">单位</th>
									@*<th data-column-id="CreatedTime">上传日期</th>*@
									<th data-column-id="WinLevel">获奖等级</th>
									<th data-column-id="Score" class="cmdwidth">作品得分</th>
									<th data-column-id="State" class="cmdwidth">状态</th>
									<th data-column-id="cmd_command" data-formatter="cmd_command" data-sortable="false" class="titlewidth"  >操作</th>
								</tr>
							</thead>
						</table>
					</div>
					<!-- end Grid-->
				</div>
				<!-- end widget content -->
			</div>
			<!-- end widget -->
			<!-- modal frame -->
			<div class="modal fade" id="inner-edit-form" tabindex="-1" role="dialog"></div>
			<!-- end modal frame -->

		</div>
		<!-- /main-content -->
	</div>
	<!-- /main -->
</div>
@section Css {
	@Styles.Render("~/css/bootgrid")
}
@section Plugins {
	@Scripts.Render("~/js/bootgrid")
}
@section Scripts {
	<script type="text/javascript">

		function getGlobalRequest() {
			return {
				activeId: $('#Active').val()=='' ? 0:$('#Active').val(),
				provinceId: $('#Province').val()=='' ? 0:$('#Province').val(),
				areaId: $('#Area').val()=='' ? 0:$('#Area').val(),
				companyId: $('#Company').val()=='' ? 0:$('#Company').val(),
				subjectId: $('#Subject').val()=='' ? 0:$('#Subject').val(),
				gradeId: $('#Grade').val()=='' ? 0:$('#Grade').val(),
				minScore:$('#MinScore').val()==''? 0:$('#MinScore').val(),
				maxScore:$('#MaxScore').val()==''? 0:$('#MaxScore').val(),
				deliveryId:$('#Delivery').val()==''? 0:$('#Delivery').val(),
				//publicId:$('#Public').val()==''? 0:$('#Public').val(),
				stateId:$('#State').val()==''? 0:$('#State').val(),
			};
		}

		function getGridOptions() {
			var userType = '@user.UserTypePKID';
			var isAdmin = userType == '@ResUserHelper.Admin';
			var isProvinceAdmin=userType == '@ResUserHelper.ProvinceAdmin';
			var isCityAdmin=userType == '@ResUserHelper.CityAdmin';
			var url='@Url.Action("Edit", "Crosource")';
			return $.extend(true, {}, gridOptions, {

				url: "/Crosource/Search",

				requestHandler: function (request) { return $.extend(true, request, getGlobalRequest()); },

				formatters: {
					"cmd_command":function(column,row){
						var str ="";
						if (isAdmin || isProvinceAdmin || isCityAdmin) {
							str+= "<a class='btn btn-xs' href='/Crosource/Details/" + row.id+"'><fa class='fa fa-eye'></fa></a>&nbsp;";
							str+= "<a class='btn btn-xs' href='/Crosource/Edit/" + row.id+"' title='修改'><fa class='fa fa-pencil'></fa></a>&nbsp;";
						}
						if (isAdmin) {
							str+= "<button type='button' class='btn btn-xs " + (row["StatePKID"] == 10352 ? "isallow" : "") + " cmd_approve' data-row-id='" + row.id + "' data-row-title='" + row.Title + "' title='审核合格/不合格'><span class='fa fa-gavel'></span></button>&nbsp;";
						}
						if (isAdmin || isProvinceAdmin || isCityAdmin) {
							str+= "<button type='button' class='btn btn-xs " + (row["WinLevelPKID"] > 0 ? "iselite" : "") + " cmd_elite' data-row-id='" + row.id + "' data-row-title='" + row.Title + "' title='设置奖项'><fa>奖</fa></button>&nbsp;";
						}
						//if (isAdmin) {
						//	str+= "<button type='button' class='btn btn-xs cmd_public' data-row-id='" + row.id + "' data-row-title='" + row.Title + "' title='公开/不公开'><fa>" + (row["PublicStatePKID"] == 10450 ? "取消公开" : "公开") + "</fa></button>&nbsp;";
						//}
						//if (isAdmin) {
						//	str+= "<button type='button' class='btn btn-xs  cmd_download' data-row-id='" + row.id + "' data-row-title='" + row.Title + "' title='下载/禁止下载'><fa>" + (row["DownloadStatePKID"] == 10453 ? "下载" : "禁止下载") + "</fa></button>&nbsp;";
						//}
					
						return str;
					},

					"LookupResource": function (column, row) {
						var str='';
						var text = row[column.id], url = '/Crosource/Details/' + row["id"];
						str+= "<span class='elitedot'>【奖】</span>";
						str+="<a href='" + url + "'>" + text + "</a>";
						return str;
					},


				},

				defaultSearch: decodeURI(window.location.search.substr(3)),

				labels: {
					search: "作品名称，内容，作者名称或作者单位"
				},

			});

		}



		$(function () {

			var provinces=@Html.Raw(Json.Encode(ViewBag.ProvincesDic));
			var areas=@Html.Raw(Json.Encode(ViewBag.AreasDic));
			var schools=@Html.Raw(Json.Encode(ViewBag.SchoolsDic));
			var ids=[];
			// relation select
			RelationSelect($("#Province"), $("#Area"), areas, "选择地区");
			RelationSelect($("#Area"), $("#Company"), schools, "选择学校");

			var grid = $("#bootgrid")
					.bootgrid(getGridOptions())
					.on("loaded.rs.jquery.bootgrid", function () {

						ids=[];
						//复选框列初始化
						initTableCheckbox('bootgrid');

						//绑定选中状态
						$('.checkItem').each(function(){
							var $this=$(this);
							var id=$this.parents('tr').find('button').data('rowId');
							for (var i = 0; i < ids.length; i++) {
								if(id==ids[i])
									$this.prop('checked','checked');
							}
						});

						grid.find("tbody tr:has(button.iselite)").addClass("flagelite");
						grid.find("tbody tr:has(button.isallow)").addClass("flagallow");

						grid
							.find(".cmd_approve").on("click", function (e) {
								var id = $(this).data("row-id"),
									 title = $(this).data("row-title"),
									 tr = $(this).parent().parent(),
									 value = tr.hasClass("flagallow"),
									 brother = $(this).parent().prev();
								message = value ? "审核该作品为 - 不合格" : "审核该作品为 - 合格";
								alertify.prompt("审核意见", function (e, str) {
									if (e) {
										$.post("/Crosource/Approve", { id: id, value: !value, opinion: str }, function (data, status) {
											alertify.success("作品 【" + title + "】 审核完成。");
											tr.toggleClass("flagallow");
											brother.text(!value ? "审核合格" : "审核不合格");
										});
									} else {
										alertify.success("作品 【" + title + "】 审核取消。");
									}
								}, message);
							}).end()

							// 设置作品奖项级别
							.find(".cmd_elite").on("click", function (e) {
								var id = $(this).data("row-id");
								$.get("@Url.Action("WinLevel", "Crosource")", { id: id }, function (response) {
									$("#inner-edit-form")
										.html(response).modal("show");
								});
							}).end()

							// 删除作品
							.find(".cmd_delete").on("click", function (e) {
								var id = $(this).data("row-id"), title = $(this).data("row-title");
								var msg = "确认要删除作品 【" + title + "】 吗？";
								alertify.confirm(msg, function (e) {
									if (e) {
										$.post("/Crosource/Delete", { id: id }, function (data, status) {
											if (data.cmd == "Deleted") { alertify.success(data.msg); grid.bootgrid("reload"); }
											else { alertify.error(data.msg); }
										});
									}
								});
							}).end()

							// 公开设置
							.find(".cmd_public").on("click", function () {
								var id = $(this).data("row-id");
								$.post("/Crosource/PublicSetting", { id: id }, function (data, status) {
									if (data.cmd == "Updated") { alertify.success(data.msg); grid.bootgrid("reload"); }
									else { alertify.error(data.msg); }
								});
							}).end()

							// 下载设置
							.find(".cmd_download").on("click", function () {
								var id = $(this).data("row-id");
								$.post("/Crosource/DownloadSetting", { id: id }, function (data, status) {
									if (data.cmd == "Updated") { alertify.success(data.msg); grid.bootgrid("reload"); }
									else { alertify.error(data.msg); }
								});
							}).end()

							// 复选框
							.find('.checkItem').click(function(){
								ids=[];
								$('.checkItem').each(function(){
									if($(this).is(':checked')){
										var id=$(this).parents('tr').find('button').data('rowId');
										ids.push(id);
									}
								});
							}).end()

							// 全选
							.find('#checkAll').removeAttr('checked').click(function(){
								ids=[];
								if($(this).is(':checked')){
									grid.find('tr:not(:first)').each(function(){
										var id=$(this).find('button').data('rowId');
										ids.push(id);
									});
								}
							});

					});

			// 批量审核
			$('#approve').on('click',function(){
				if(ids.length<=0){
					alert('必须选择作品');
					return false;
				}

				$.get("@Url.Action("Approve", "Crosource")",{ids:ids.join(',')}, function (response) {
					$("#inner-edit-form")
						.html(response).modal("show");
				});
			});

			// 批量设置奖项
			$('#winLevel').on('click',function(){
				if(ids.length<=0){
					alert('必须选择作品');
					return false;
				}

				$.get("@Url.Action("MultiWinLevel", "Crosource")",{ids:ids.join(',')}, function (response) {
					$("#inner-edit-form")
						.html(response).modal("show");
				});
			});

			// 批量设定公开状态
			$('#public').on('click',function(){
				if(ids.length<=0){
					alert('必须选择作品');
					return false;
				}

				$.get("@Url.Action("MultiPublicSetting", "Crosource")",{ids:ids.join(',')}, function (response) {
					$("#inner-edit-form")
						.html(response).modal("show");
				});
			});

			// 批量设定下载状态
			$('#download').on('click',function(){
				if(ids.length<=0){
					alert('必须选择作品');
					return false;
				}

				$.get("@Url.Action("MultiDownloadSetting", "Crosource")",{ids:ids.join(',')}, function (response) {
					$("#inner-edit-form")
						.html(response).modal("show");
				});
			});

			// 批量报送
			$('#delivery').on('click',function(){
				if(ids.length<=0){
					alert('必须选择作品');
					return false;
				}

				$.post("@Url.Action("MultiDelivery", "Crosource")",{ids:ids.join(',')}, function (response) {
					alertify.success(response.msg);
				});
			});

			// 取消批量报送
			$('#cancel').on('click',function(){
				if(ids.length<=0){
					alert('必须选择作品');
					return false;
				}

				$.post("@Url.Action("MultiDelivery", "Crosource")",{ids:ids.join(',')}, function (response) {
					alertify.success(response.msg);
				});
			});

			$('#search').click(function(){
				$("#bootgrid").bootgrid('reload');
				return false;
			});



			//$('.search-field').on('change',function(){
			//	$("#bootgrid").bootgrid('reload');
			//	return false;
			//});

			//$('.province,.area,.company').on('change',function(){

			//});

			//$('.score').on('blur',function(){
			//	$("#bootgrid").bootgrid('reload');
			//	return false;
			//});
			//$('.score').on('keyup',function(){
			//	$(this).val($(this).val().replace(/[^0-9]/g,''));
			//});

			$('.search').css('width','310px');
			//$('.search input').prop('placeholder','作品名称，内容，作者名称或作者单位');

		});

	</script>

}