@model List<ResRole>
@{
	ViewBag.Title = "用户";
}
<div class="col-md-10 content-wrapper">
	<div class="row">
		<div class="col-lg-4 ">
			<ul class="breadcrumb">
				<li>
					<i class="fa fa-home"></i>
					<a href="@Url.Action("Index", "Home")">首页</a>
				</li>
				<li class="active">@ViewBag.Title</li>
			</ul>
		</div>
	</div>

	<!-- main -->
	<div class="content">
		<div class="main-header">
			<h2>@ViewBag.Title</h2>
			<em>按姓名或用户名查询</em>
		</div>

		<div class="main-content">

			<div>

			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="col-sm-4">
						<div class="form-group">
							<form action="@Url.Action("Search")" name="form">
								<div class="input-group">
									<input type="text" name="d" class="search-field form-control" placeholder="请输入用户名或姓名" />
									<a href="javascript:form.submit()" class="input-group-addon fa fa-search"></a>
								</div>
							</form>
						</div>
					</div>
					<div class="col-sm-4">
					</div>
				</div>
			</div>

			<hr />

			@*<div class="row">
				<div class="col-sm-12">
					<div class="col-sm-4">
						<a href="@Url.Action("Edit", "User")" class="btn btn-danger btn-md">新增用户</a>
					</div>
				</div>
			</div>*@


		</div>
		<!-- /main-content -->
	</div>
	<!-- /main -->
</div>
