@{
	ViewBag.Title = "查询用户";
}

<div class="col-md-10 content-wrapper">
	<div class="row">
		<div class="col-lg-4 ">
			<ul class="breadcrumb">
				<li>
					<i class="fa fa-home"></i>
					<a href="@Url.Action("Index", "Home")">首页</a>
				</li>
				<li><a href="@Url.Action("Index", "User")">用户</a></li>
				<li class="active">@ViewBag.Title</li>
			</ul>
		</div>
	</div>

	<!-- main -->
	<div class="content">
		<div class="main-header">
			<h2>@ViewBag.Title</h2>
			<em>按用户名或姓名查询用户</em>
		</div>

		<div class="main-content">
		@if (ResSettings.SettingsInSession.User.UserTypePKID == ResUserHelper.Admin)
		{
			<div class="buttons"><a href="javascript:void(0)"  id="addUser" class="btn btn-danger btn-md">新增用户</a>&nbsp;<a href="javascript:void(0)" id="import" class="btn btn-info btn-md">批量导入</a>&nbsp;<a href="http://cdncsj.sser.shdjg.net/2018/templates/UserTemplate.xlsx" id="template" class="btn btn-primary btn-md">下载导入模板</a></div>
		}
		else
		{
         <div class="buttons"><a href="javascript:void(0)" id="addUser" class="btn btn-danger btn-md">新增用户</a></div>
		}
			<!-- widget -->
			<div class="widget">
				<div class="widget-header">
					<h3><i class="fa fa-paperclip"></i> @ViewBag.Title</h3>
					<div class="btn-group widget-header-toolbar">
						<a href="#" title="专注" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
						
					</div>
				</div>

				<div class="widget-content">
					<div class="row">
						<div class="col-sm-2">
							@Html.DropDownList("Province", (ViewBag.Provinces as List<ResCompany>).Select(x => new SelectListItem { Text = x.CompanyName, Value = x.CompanyId.ToString() }), "选择省份", new { @class = "form-control province" })
						</div>
						<div class="col-sm-2">
							@Html.DropDownList("Area", (ViewBag.Areas as List<ResCompany>).Select(x => new SelectListItem { Text = x.CompanyName, Value = x.CompanyId.ToString() }), "选择地区", new { @class = "form-control area" })
						</div>
						<div class="col-sm-2">
							@Html.DropDownList("Company", (ViewBag.Companies as List<ResCompany>).Select(x => new SelectListItem { Text = x.CompanyName, Value = x.CompanyId.ToString() }), "选择单位", new { @class = "form-control company" })
						</div>
						<div class="col-sm-2">
							<button id="search" class="btn btn-info btn-search"><i class="fa fa-search"></i>查询</button>
						</div>
					</div>
					<!-- Condition -->
					@*<div class="col-sm-12">
						<form class="pull-right condition col-sm-4">
							<div class="input-group">
								<input type="text" class="form-control" disabled id="companyName" aria-label="...">
								<div class="input-group-btn">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">单位 <span class="caret"></span></button>
									<div class="dropdown-menu dropdown-menu-right" style="max-height:340px; width: 300px; overflow-y:auto">
										<div id="jstree"></div>
									</div>
									</div><!-- /btn-group -->
							</div><!-- /input-group -->
						</form>
					</div>*@
					<!-- end Condition-->
					<div class="col-sm-12">
						<hr />
					</div>
					<!-- Grid -->
					<div id="table-responsive">
						<table id="bootgrid" class="table table-striped table-hover">
							<thead>
								<tr>
									<th data-column-id="UserName" data-formatter="LookupUser">用户名</th>
									<th data-column-id="RealName">姓名</th>
									<th data-column-id="CompanyName">单位</th>
									<th data-column-id="UserType">角色</th>
									<th data-column-id="Email">邮箱</th>
									<th data-column-id="RegisterTime">注册时间</th>
									<th data-column-id="LoginCount">登录次数</th>
									<th data-column-id="Actived">状态</th>
									<th data-column-id="cmd_actived" data-formatter="cmd_actived" data-sortable="false" data-headercs="cmdwidth"></th>
									<th data-column-id="cmd_edit" data-formatter="cmd_edit" data-sortable="false" data-headercs="cmdwidth"></th>
									<th data-column-id="cmd_Approve" data-formatter="cmd_Approve" data-sortable="false" data-headercs="cmdwidth"></th>
								</tr>
							</thead>
						</table>
					</div>
					<!-- end Grid-->
				</div>
				<!-- end widget content -->

			</div>
			<!-- end widget -->

			<!-- modal frame -->
				<div class="modal fade" id="inner-edit-form" tabindex="-1" role="dialog"></div>
			<!-- end modal frame -->
			<form action="@Url.Action("ImportPreview", "User")" class="dropzone import" hidden></form>
		</div>
		<!-- /main-content -->
	</div>
	<!-- /main -->
</div>
@section Css {
	@Styles.Render("~/css/bootgrid")
	@*@Styles.Render("~/css/jstree")*@
}
@section Plugins {
	@Scripts.Render("~/js/bootgrid")
	@*@Scripts.Render("~/js/jstree")*@
   @Scripts.Render("~/js/dropzone")
}
@section Scripts {
	<script type="text/javascript">

	//function getGlobalRequest() {
	//	return { companyId: $('#jstree').jstree("get_selected") | 0 };
		//}

		function getGlobalRequest() {
			return {
				provinceId: $('#Province').val()=='' ? 0:$('#Province').val(),
				areaId: $('#Area').val()=='' ? 0:$('#Area').val(),
				companyId: $('#Company').val() == '' ? 0 : $('#Company').val()
			}
		}

	function getGridOptions() {

		return $.extend(true, {}, gridOptions, {

			url: "/User/Search",

			formatters: {
				"LookupUser": function (column, row) {
					var text = row[column.id], url = '/User/Info/' + row["id"];
					return "<a href='" + url + "'>" + text + "</a>";
				},
				"cmd_edit": function (column, row) {
					return "<button type='button' class='btn btn-xs cmd_edit' data-row-id='" + row.id + "' data-row-title='" + row.RealName + "' title='编辑'><span class='fa fa-pencil'></span></button>";
				},
				//"cmd_actived": function (column, row) {
				//	return "<button type='button' class='btn btn-xs " + (row["Actived"] == '有效' ? "isactived" : "") + " cmd_actived' data-row-id='" + row.id + "' data-row-title='" + row.RealName + "' title='有效/无效'><span class='fa fa-check-square-o'></span></button>";
				//},
				//"cmd_Approve": function (column, row) {
				//	return "<button type='button' class='btn btn-xs cmd_Approve' data-row-id='" + row.id + "' data-row-title='" + row.RealName + "' title='用户授权'><span class='fa fa-key'></span></button>";
				//},
			},

			defaultSearch: decodeURI(window.location.search.substr(3)),

			requestHandler: function (request) { return $.extend(true, request, getGlobalRequest()); },

			labels: {
				search: "用户名或姓名搜索"
			},

		});

	}


	$(function () {

		var provinces=@Html.Raw(Json.Encode(ViewBag.ProvincesDic));
		var areas=@Html.Raw(Json.Encode(ViewBag.AreasDic));
		var schools=@Html.Raw(Json.Encode(ViewBag.SchoolsDic));
		// relation select
		RelationSelect($("#Province"), $("#Area"), areas, "选择地区");
		RelationSelect($("#Area"), $("#Company"), schools, "选择学校");

		$("#addUser").on("click", function () {
			showModal();
		});

		$('#search').click(function () {
			$("#bootgrid").bootgrid('reload');
			return false;
		});
		//$('#jstree')
		//	.on("click.jstree", function (e) {
		//		e.stopImmediatePropagation();
		//	})
		//	.on("changed.jstree", function (e, data) {
		//		$("#companyName").val(data.instance.get_node(data.selected).text);
		//		$("#bootgrid").bootgrid("reload");
		//		data.instance.click();
		//	})
		//	.jstree({
		//		"core": {
		//			"animation": 0,
		//			"multiple": false,
		//			"check_callback": true,
		//			"themes": {},
		//			'data': {
		//				'url': function (node) {
		//					return '/Company/Tree';
		//				},
		//				'data': function (node) {
		//					return { 'id': node.id };
		//				}
		//			}
		//		},
		//		"plugins": [
		//			"wholerow"
		//		]
		//	});

		var grid = $("#bootgrid")
				.bootgrid(getGridOptions())
				.on("loaded.rs.jquery.bootgrid", function () {

					grid.find("tbody tr:has(button.isactived)").addClass("flagactived");

					grid
						// 有效/无效
						.find(".cmd_actived").on("click", function (e) {
							var id = $(this).data("row-id"),
								 title = $(this).data("row-title"),
								 tr = $(this).parent().parent(),
								 value = tr.hasClass("flagactived"),
								 brother = $(this).parent().prev();
							$.post("/User/Actived", { id: id, value: !value }, function (data, status) {
								alertify.success("用户 【" + title + "】 是否有效设定完成。");
								tr.toggleClass("flagactived");
								brother.text(!value ? "有效" : "无效");
							});
						}).end()
					   .find(".cmd_edit").on("click", function () {
					   	var id = $(this).data("row-id");
					   	$.get("@Url.Action("Edit", "User")", { id: id }, function (response) {
					   		$("#inner-edit-form")
									.html(response).modal("show")
									.find(".form-control").first().focus();
					   	});
					   });

				});


		Dropzone.autoDiscover = false;
		// init dropzone upload plugin.
		$(".dropzone.import").dropzone({
			addRemoveLinks: !0,
			acceptedFiles: ".xlsx,.xls",
			dictResponseError: "File Upload Error.",
			init: function () {
				this.on("success", function (file, data) {
					$('#inner-edit-form').html(data).modal('show');
				});
				this.on("error", function (file, message) {
					alert(message)
				});
			}
		});

		// proxy click event to dropzone.
		$("#import").on("click", function () {
			$(".dropzone.import").trigger('click');
		});

	});

		function showModal(id) {
			$.get("@Url.Action("Edit", "User")", { id: id }, function (response) {
			$("#inner-edit-form")
					.html(response).modal("show")
					.find(".form-control").first().focus();
			});
		}

	</script>

}