@model CroResource
@{
	ViewBag.Title = "作品评审";

	var indications = ViewBag.Indications as List<Indication>;
	var resultId = Request["id"] ==null? 0:Convert.ToInt32(Request["id"]);
	var groupId = Request["groupId"] == null ? 0 : Convert.ToInt32(Request["groupId"]);

	var comment = (string)ViewBag.Comment;
	var course = ViewBag.CurrentCourse as MicroCourse;
}

<div class="content">
	<div class="main-header">
		<h2>@ViewBag.Title</h2>
		<em>本页面查看选中作品的课程实录信息</em>
	</div>
	<div class="main-content">
		<!-- Details -->
		<div class="details">
			<!-- details header -->
			<div class="details-header">
				<div class="row">
					<div class="col-lg-4 col-print-4">
						<h3><strong>@Model.Title</strong></h3>
					</div>
					@*<div class="col-lg-8 col-print-8 text-right">
						<ul class="list-inline">
							<li>
								点击次数:
								<strong class="badge">@Model.ViewCount</strong>
							</li>
							<li>
									下载次数:
									<strong class="badge">@Model.DownCount</strong>
								</li>
							<li>
								收藏次数:
								<strong class="badge">@Model.FavoriteCount</strong>
							</li>
							<li>
								评论次数:
								<strong class="badge">@Model.CommentCount</strong>
							</li>
						</ul>
					</div>*@
				</div>
			</div>
			<!-- end details header -->
			<!-- details summary -->
			<div class="details-summary">
				<div class="row">
					<!-- left side, main content -->
					<div class="col-lg-7">
						<div class="row">
							@if (course.VideoPath != null)
							{
								if (course.VideoPath.IndexOf(".mp4") >= 0 || course.VideoPath.IndexOf(".flv") >= 0)
								{
									<div id="video" class="carousel slide" style="width:100%;height:500px">
										<div id='player'></div>
									</div>
								}
								else if (!string.IsNullOrEmpty(course.CoverPath))
								{
									<img style="width:100%" height="100%" src="@course.FitCoverPath" />
								}

								@*<div style="margin:10px;">
									<a href="@course.VideoPath" class="btn btn-lg btn-block btn-info"><i class="fa fa-download"></i> 下载课程文件</a>
								</div>*@

								}
							else
							{
								<img style="width:100%" height="100%" src="@course.FitCoverPath" />
							}
						</div> <!-- row -->
						<hr />
						<div class="pdf" id="pdf" style="height:800px;">
							<iframe></iframe>
						</div>
					</div>
					<!-- end left side, main content -->
					<div class="panel evalArea col-lg-5" style="height:800px;">
						<div class="alert alert-info ">
							<strong>班会设计评分标准</strong><br />
							1.主体性。凸显学生的主体地位，面向每一个学生的个性发展，尊重他们的特殊需要和兴趣爱好；强调学生的参与体验和亲身经历，重视学生在活动过程中的自我生成和创造性建构，为学生自主性的充分发挥开辟广阔时空。<br />
							2.针对性。贴近学生、贴近生活和贴近实际，聚焦一个主题，注重正面引导，紧密联系学生需求和班级实情开展教育活动。<br />
							3.适切性。根据教育规律和学生年龄特点设计活动，目标贴切，主题鲜明，内容丰富；形式多样，生动活泼，为学生所喜闻乐见。<br />
							4.操作性。教育设计体现结构化，具有清晰的层次感，富有内在的逻辑性；实施步骤具体，过程完整，操作性强。<br />
							5.创新性。锐意进取，立意新颖，方法和形式生动、多样，求新忌陈，不落俗套，具有时代特点，富有创意，体现新思路、新角度、新特色和新水平。<br />
							6.规范性。方案书写有必要的元素，符合规范的设计体例；语言文字生动流畅，富有感染力。<br />
							<hr />

							<strong>班会课课堂实录评分标准</strong><br />
							1.主题导入，自然贴切，引发主动学习。<br />
							2.教育过程，师生互动，关注动态生成。<br />
							3.活动形式，强调体验，侧重主体感悟。<br />
							4.资源利用，精选妙用，激发学生思维。<br />
							5.媒体技术，运用适切，增强教育效果。<br />
							6.课堂小结，概括提炼，升华主题内涵。<br />
							7.目标达成，自主建构，促进自我教育。<br />
							8.学生参与，乐于合作，发展思辨能力。<br />
							9.课堂氛围，民主和谐，有助观点分享。<br />
							10.课外衔接，有机贯通，注重行为引导。<br />
						</div>
						<div class="panel">
							<div class="panel-body">
								<table id="bootgrid" class="table table-striped table-hover">
									<thead>
										<tr>
											<th class="width100">指标项</th>
											<th>指标描述</th>
											<th>满分</th>
											<th style="width:90px;">得分</th>
										</tr>
									</thead>
									<tbody>
										@foreach (var item in indications.Where(x => x.TypePKID == 5008))
										{
											<tr class="indication">
												<td>@item.IndicationName</td>
												<td>@item.Description</td>
												<td><label class="form-control disabled">@item.Score</label></td>
												<td>
													<input value="@item.EvalScore" class="form-control evalScore" />
													<input type="hidden" value="@item.IndicationId" class="indicationId" />
												</td>
											</tr>			
										}
									</tbody>
								</table>
								@if ((bool)ViewBag.isSlef)
								{
									<a class="btn btn-block btn-danger btn-eval" href="#">提交</a>			
								}
							</div>
						</div>
					</div>
					<!-- right side, main content -->
					<div class="col-lg-9 info">
						<div class="row">
							<!-- widget -->
							<div class="widget col-md-4">
								<div class="widget-header">
									<h3><i class="fa fa-paperclip"></i> 课堂实录信息</h3>
								</div>
								<div class="widget-content">
									<ul class="list-group">
										<li class="list-group-item">作品名称：@Model.Title</li>
										@*@if (!string.IsNullOrEmpty(Model.Keywords))
										{
											<li class="list-group-item">关键字: &nbsp;@foreach (var item in Model.Keywords.Split(','))
											{<span class="badge" style="float:none;">  @item</span> }</li>			
										}*@
										<li class="list-group-item">作品类型：@Model.ResourceType</li>
										@if (@Model.SubjectPKID != 0)
										{
											<li class="list-group-item">学科：@Model.Subject</li>			}
										@if (@Model.StagePKID != 0)
										{
											<li class="list-group-item">学段：@Model.Stage</li>			}
										@if (@Model.GradePKID != 0)
										{
											<li class="list-group-item">年级：@Model.Grade</li>			}
										@*@if (!string.IsNullOrEmpty(Model.Province))
										{
											<li class="list-group-item">省份：@Model.Province</li>			}
										@if (!string.IsNullOrEmpty(Model.Province))
										{
											<li class="list-group-item">市区：@Model.Area</li>			}
										@if (!string.IsNullOrEmpty(Model.Province))
										{
											<li class="list-group-item">学校：@Model.School</li>			}*@

										<li class="list-group-item">创建时间：@Model.CreatedTime.ToString("yyyy-MM-dd")</li>

										@*<li class="list-group-item">
											<div class="switchs">
												@Html.CheckBox("State", Model.StatePKID == CroResourceHelper.StateAllow, new { @class = "switch", data_label_text = "审核合格", data_size = "small" })
											</div>
										</li>*@

									</ul>
								</div>
							</div>
							<!-- end widget -->
							<!-- widget -->
							<div class="widget col-md-4 hidden">
								<div class="widget-header">
									<h3><i class="fa fa-paperclip"></i> 课堂实录信息</h3>
								</div>
								<div class="widget-content">
									<ul class="list-group">
										<li class="list-group-item">
											<span>微课名称：@course.CourseTitle</span>
										</li>
										<li class="list-group-item">
											<span>播放次数： @course.PlayCount</span>
										</li>
										<li class="list-group-item">
											<span>下载次数： @course.DownCount</span>
										</li>

										@if (course.DesignId != 0)
										{
											<li class="list-group-item">
												<span>教学设计： <a href="@course.DesignPreviewPath" target="_blank" class="btn-info btn-sm">预 览</a></span>
											</li>			}
										@if (course.SummaryId != 0)
										{
											<li class="list-group-item">
												<span>教学反思： <a href="@course.SummaryPreviewPath" target="_blank" class="btn-info btn-sm">预 览</a></span>
											</li>			}
										@if (course.CoursewareId != 0)
										{
											<li class="list-group-item">
												<span>课&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;件：&nbsp;<a href="@course.CoursewarePath" target="_blank" data-id="@course.CoursewareId" class="btn-info btn-sm btn-download">下 载</a></span>
											</li>			}
										@if (course.AttachmentId != 0)
										{
											<li class="list-group-item">
												<span>其他附件： <a href="@course.AttachmentPath" target="_blank" data-id="@course.AttachmentId" class="btn-info btn-sm btn-download">下 载</a></span>
											</li>			}
									</ul>
								</div>
							</div>
							<!-- end widget -->
							<!-- widget -->
							@*<div class="widget col-md-4">
								<div class="widget-header">
									<h3><i class="fa fa-paperclip"></i> 作者信息</h3>
								</div>
								<div class="widget-content">
									<ul class="list-group">
										<li class="list-group-item">作者：@Model.Author</li>
										@if (@Model.AuthorCompany != "")
										{
											<li class="list-group-item">单位：@Model.AuthorCompany</li>			}
									</ul>
								</div>
							</div>*@
							<!-- end widget -->
						</div>
					</div>
					<!-- end right side, main content -->
				</div>
			</div>
			<!-- end details summary -->
		</div>
		<!-- Details -->
	</div>
	<!-- /main-content -->
</div>


