@model CroResource
@{
	ViewBag.Title = "作品评审";

	var indications = ViewBag.Indications as List<Indication>;
	var resultId = Request["id"] ==null? 0:Convert.ToInt32(Request["id"]);
	var groupId = Request["groupId"] == null ? 0 : Convert.ToInt32(Request["groupId"]);

	var comment = (string)ViewBag.Comment;
	var course = ViewBag.CurrentCourse as MicroCourse;
}
<div class="col-md-10 content-wrapper">
	<div class="row">
		<div class="col-lg-4 ">
			<ul class="breadcrumb">
				<li>
					<i class="fa fa-home"></i>
					<a href="@Url.Action("Index", "Home")">首页</a>
				</li>
				<li><a href="@Url.Action("Search", "Crosource")">作品</a></li>
				<li class="active">@ViewBag.Title</li>
			</ul>
		</div>
	</div>

	<!-- main -->
	<div class="content">
		<div class="main-header">
			<h2>@ViewBag.Title</h2>
			<em>本页面查看选中作品的详细信息</em>
		</div>

		<div class="main-content">
			<!-- Details -->
			<div class="details">
				<!-- details header -->
				<div class="details-header">
					<div class="row">
						<div class="col-lg-4 col-print-4">
							<h3><strong>@Model.Title</strong></h3>
						</div>
						<div class="col-lg-8 col-print-8 text-right">
							<ul class="list-inline">
								<li>
									点击次数:
									<strong class="badge">@Model.ViewCount</strong>
								</li>
								@*<li>
										下载次数:
										<strong class="badge">@Model.DownCount</strong>
									</li>*@
								<li>
									收藏次数:
									<strong class="badge">@Model.FavoriteCount</strong>
								</li>
								<li>
									评论次数:
									<strong class="badge">@Model.CommentCount</strong>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- end details header -->
				<!-- details summary -->
				<div class="details-summary">
					<div class="row">
						<!-- left side, main content -->
						<div class="col-lg-7">
							<div class="row">
								@if (course.VideoPath != null)
								{
									if (course.VideoPath.IndexOf(".mp4") >= 0 || course.VideoPath.IndexOf(".flv") >= 0)
									{
										<div id="video" class="carousel slide" style="width:100%;height:500px">
											<div id='player'></div>
										</div>
									}
									else if (!string.IsNullOrEmpty(course.CoverPath))
									{
										<img style="width:100%" height="100%" src="@course.FitCoverPath" />
									}

									<div style="margin:10px;">
										<a href="@course.VideoPath" class="btn btn-lg btn-block btn-info"><i class="fa fa-download"></i> 下载课程文件</a>
									</div>

								}
								else
								{
									<img style="width:100%" height="100%" src="@course.FitCoverPath" />
								}
							</div> <!-- row -->
							<hr />
							<div>

								<div class="panel">
									<div class="panel-body">
										@Model.Description
									</div>

								</div>

								<div style="overflow-y:hidden; overflow-x:auto; white-space: nowrap;">
									<div class="details-courses">
										<ul class="course-list">
											@foreach (var item in Model.Courses)
											{
												<li style="display:inline-block;list-style-type: none;">
													<a href="/Eval/Details/?id=@resultId&resId=@Model.CrosourceId&courseId=@course.CourseId&groupId=@groupId">
													<img src="@item.FitCoverPath" style="width:184px; height:115px;" /></a>
													<div class="text-center">@item.CourseTitle</div>
												</li>
                                 }
										</ul>
									</div>
								</div>
							   
							  
							</div> <!-- row -->
						</div>
						<!-- end left side, main content -->

						<div class="panel evalArea col-lg-5" style="height:800px;">
							<div class="panel">
								<div class="panel-body">
									<table id="bootgrid" class="table table-striped table-hover">
										<thead>
											<tr>
												<th class="width100">指标项</th>
												<th>指标描述</th>
												<th>满分</th>
												<th style="width:90px;">得分</th>
											</tr>
										</thead>
										<tbody>
											@foreach (var item in indications)
											{
												<tr class="indication">
													<td>@item.IndicationName</td>
													<td>@item.Description</td>
													<td><label class="form-control disabled">@item.Score</label></td>
													<td>
														<input value="@item.EvalScore" class="form-control evalScore" />
														<input type="hidden" value="@item.IndicationId" class="indicationId" />
													</td>
												</tr>
                                  }
											<tr>
												<td colspan="6">
													<strong>专家评语</strong>
													<p></p>
													@Html.TextArea("comment", comment, 6, 6, new { @class = "form-control", maxlength = "150", minlength="100", placeholder = "专家评语" })
													<div class="img_ta_num">评语最多只允许填写150个字以内</div>
												</td>
											</tr>
										</tbody>
									</table>
									@if ((bool)ViewBag.isSlef)
									{
										<a class="btn btn-block btn-danger btn-eval" href="#">提交</a>
                           }
								</div>
							</div>
						</div>

						<!-- right side, main content -->

						<div class="col-lg-9 info">
							<div class="row">

								<!-- widget -->
								<div class="widget col-md-4">
										<div class="widget-header">
									<h3><i class="fa fa-paperclip"></i> 作品信息</h3>
								</div>

								<div class="widget-content">
									<ul class="list-group">

										<li class="list-group-item">作品名称：@Model.Title</li>
										@if (!string.IsNullOrEmpty(Model.Keywords))
										{
											<li class="list-group-item">关键字: &nbsp;@foreach (var item in Model.Keywords.Split(',')){<span class="badge" style="float:none;">  @item</span> }</li>
										}

										<li class="list-group-item">作品类型：@Model.CourseType</li>
										@if (@Model.SubjectPKID != 0)
										{
										<li class="list-group-item">学科：@Model.Subject</li>
										}
										@if (@Model.StagePKID != 0)
										{
										<li class="list-group-item">学段：@Model.Stage</li>
										}
										@if (@Model.GradePKID != 0)
										{
										<li class="list-group-item">年级：@Model.Grade</li>
										}
										@if (!string.IsNullOrEmpty(Model.Province))
										{
										<li class="list-group-item">省份：@Model.Province</li>
										}
										@if (!string.IsNullOrEmpty(Model.Province))
										{
										<li class="list-group-item">市区：@Model.Area</li>
										}
										@if (!string.IsNullOrEmpty(Model.Province))
										{
										<li class="list-group-item">学校：@Model.School</li>
										}
		
										<li class="list-group-item">创建时间：@Model.CreatedTime.ToString("yyyy-MM-dd")</li>
									
											<li class="list-group-item">
												<div class="switchs">
													@Html.CheckBox("State", Model.StatePKID == CroResourceHelper.StateAllow, new { @class = "switch", data_label_text = "审核合格", data_size = "small" })
												</div>
											</li>
							

									</ul>
								</div>
								</div>
								<!-- end widget -->

								<!-- widget -->
								<div class="widget col-md-4">
								  <div class="widget-header">
									 <h3><i class="fa fa-paperclip"></i> 当前微课信息</h3>
								  </div>

								<div class="widget-content">
									<ul class="list-group">
										<li class="list-group-item">
											<span>微课名称：@course.CourseTitle</span>
										</li>
										<li  class="list-group-item">
											<span>播放次数： @course.PlayCount</span>
									   </li>

									   <li  class="list-group-item">
											<span>下载次数： @course.DownCount</span>
										</li>

									
										@if(course.DesignId != 0)
										{
											<li  class="list-group-item">
												<span>教学设计： <a href="@course.DesignPreviewPath" target="_blank" class="btn-info btn-sm">预 览</a></span>
										   </li>
										}

										@if (course.SummaryId != 0)
										{
											<li  class="list-group-item">
												<span>教学反思： <a href="@course.SummaryPreviewPath" target="_blank" class="btn-info btn-sm">预 览</a></span>
										   </li>
										}

										@if (course.CoursewareId != 0)
										{
											<li  class="list-group-item">
												<span>课&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;件：&nbsp;<a href="@course.CoursewarePath" target="_blank" data-id="@course.CoursewareId" class="btn-info btn-sm btn-download">下 载</a></span>
											</li>
										}
										@if (course.AttachmentId != 0)
										{
											<li  class="list-group-item">
												<span>其他附件： <a href="@course.AttachmentPath" target="_blank" data-id="@course.AttachmentId" class="btn-info btn-sm btn-download">下 载</a></span>
											</li>
										}

									</ul>
								</div>
								</div>
								<!-- end widget -->

								<!-- widget -->
								<div class="widget col-md-4">
									<div class="widget-header">
									<h3><i class="fa fa-paperclip"></i> 作者信息</h3>
								</div>

								<div class="widget-content">
									<ul class="list-group">
										<li class="list-group-item">作者：@Model.Author</li>
										@if (@Model.AuthorCompany != "")
										{
										<li class="list-group-item">单位：@Model.AuthorCompany</li>
										}
									</ul>
								</div>
								</div>
								<!-- end widget -->

							</div>
						</div>

						<!-- end right side, main content -->

					</div>
				</div>
				<!-- end details summary -->

			</div>
			<!-- Details -->

		</div>
		<!-- /main-content -->
	</div>
	<!-- /main -->
</div>


@section Css{
<style>
	.info .widget {
		height: 400px;
		overflow-y: auto;
	}
	.evalArea{
		height:500px;
		overflow-y:auto;
	}
</style>
}
@section Plugins{
}
@section Scripts {
<script src="~/assets/plugins/ckplayer/ckplayer/ckplayer.js"></script>
<script src="~/assets/plugins/jwplayer/jwplayer.js"></script>
	<script type="text/javascript">
		//var id = @Model.CrosourceId;

		//
		// bootstrap-switch
		//$("input.switch").not("[data-switch-no-init]").bootstrapSwitch().show();


		$(function () {

			$("#comment").keyup(function () {
				$(".img_ta_num").html("评语还可以填写"+(150 - $(this).val().length)+"个字")
			})
			var videoPath='@course.VideoPath';
			var hasVideo=videoPath!='' && (videoPath.indexOf('.mp4')>=0 || videoPath.indexOf('.flv')>=0 );
			var id = @Model.CrosourceId;
			var path='@course.VideoPath';
			var ua = navigator.userAgent;
			ua = ua.toLocaleLowerCase();
			//IE11 用ckplayer
			if (ua.match(/edge/) != null || ua.match(/firefox/)!=null || ua.match(/Firefox/)!=null && hasVideo){
				var videoObject = {
					container: '#video',
					variable: 'player',
					poster:'@course.CoverPath',//封面图片
					height: 500,
					video:path
				};
				var player=new ckplayer(videoObject);
			}
			else if(hasVideo){
				var player=jwplayer("video").setup({
					flashplayer:"../../assets/plugins/jwplayer/jwplayer.flash.swf",
					file:path,
					width: 'auto',
					height: 500,
					controls: true ,
					primary: "flash",
					autostart:false,
					image: '@course.CoverPath',
				});

				player.onPlay(function(){
					$.post('@Url.Action("Play", "Crosource")',{id:'@Model.CrosourceId',courseId:'@course.CourseId'},function(){});
				});
			}


			$('.btn-eval').on('click',function(){
				var o={
					ResultId:'@resultId',
					GroupId:'@groupId',
					ResourceId: '@Model.CrosourceId',
					Comment: $('#comment').val(),
					Items:[]
				};

				$('.indication').each(function () {
					var score = $(this).find('.evalScore').val();
					var indicationId = $(this).find('.indicationId').val();
					o.Items.push({
						ResultId:o.ResultId,
						IndicationId:indicationId,
						Score:score
					});
				});

				$.post('@Url.Action("Execute","Eval")',{model:o},function(data,status){
					if (data.error == "none") {
						location.href="/Eval/Search";
						alertify.success(data.msg);
					}
					else {
						alertify.error(data.msg);
					}
				});
			});

			$('.btn-download').on('click',function(){
				var $this=$(this);
				var fileId=$(this).data('id');
				if(fileId>0){
					$.post('/Crosource/Download',{id:'@Model.CrosourceId',  courseId:'@course.CourseId', fileId:fileId},function(response){});
				}
				else{
					alert('暂无文件可下载');
				}
			});

		});
	</script>
}