@model CroResource
@{
	ViewBag.Title = "作品评审";

	var indications = ViewBag.Indications as List<Indication>;
	var resultId = Request["id"] == null ? 0 : Convert.ToInt32(Request["id"]);
	var groupId = Request["groupId"] == null ? 0 : Convert.ToInt32(Request["groupId"]);
	var comment = (string)ViewBag.Comment;
	var course = ViewBag.CurrentCourse as MicroCourse;
}
<div class="col-md-10 content-wrapper">
	<div class="row">
		<div class="col-lg-4 ">
			<ul class="breadcrumb">
				<li>
					<i class="fa fa-home"></i>
					<a href="@Url.Action("Index", "Home")">首页</a>
				</li>
				<li><a href="@Url.Action("Search", "Crosource")">作品</a></li>
				<li class="active">@ViewBag.Title</li>
			</ul>
		</div>
	</div>
	<!-- main -->
	@if (Model.ResourceTypePKID == CroResourceHelper.Video)
	{
		@Html.Partial("_video", Model)

		@section Scripts {
	<script src="~/assets/plugins/jwplayer/jwplayer.js"></script>
	<script src="~/assets/plugins/playease-master/playease-master/playease.min.js"></script>
	<script src="~/assets/js/pdf.js"></script>
	<script type="text/javascript">
		//var id = @Model.CrosourceId;

		//
		// bootstrap-switch
		//$("input.switch").not("[data-switch-no-init]").bootstrapSwitch().show();


		$(function () {

			var ua = navigator.userAgent;
			var pdfPath = '@course.DesignPath' + '.pdf';
			PDFObject.embed(pdfPath, "#pdf");

			//$("#comment").keyup(function () {
			//	$(".img_ta_num").html("评语还可以填写"+(150 - $(this).val().length)+"个字")
			//})
			var hasVideo = '@course.VideoPath' != '';
			var path = '@course.VideoPath';
			var poster = '@course.FitCoverPath';
			var ua = navigator.userAgent;
			ua = ua.toLocaleLowerCase();

			var isfirefoxOrEdge = ua.match(/edge/) != null
				|| ua.match(/firefox/) != null
				|| ua.match(/Firefox/) != null
				|| ua.match(/Safari/) != null
				|| ua.match(/safari/) != null
				|| ua.match(/chrome/) != null
				|| ua.match(/Chrome/) != null
				|| ua.match(/Mozilla/) != null
				|| ua.match(/AppleWebKit/) != null;

			if (isfirefoxOrEdge && hasVideo) {
				var pw = document.getElementById('video');
				var events = playease.events;
				var player = playease('player');
				player.setup({
					width: 640,
					height: 400,
					aspectratio: '16:9',
					file: path,
					mode: 'vod',
					controls: true,
					autoplay: false,
					retrydelay: 3000,
					poster: poster,
					logo: {
						file: ''
					},
					bulletscreen: {
						enable: false,
						visible: false
					},
					render: {
						name: 'flv',
						//bufferLength: 4 * 1024 * 1024, // For flv render in vod mode only
						swf: '../swf/playease.swf'
					},
					contextmenu: null,
					events: {
						onPlaying: function () {
							$.post('@Url.Action("Play", "CroResource")', { id: '@Model.CrosourceId', courseId: '@course.CourseId' }, function () { });
						}
					}
				});

			}
			else if (hasVideo) {
				var player = jwplayer("video").setup({
					flashplayer: "../../assets/plugins/jwplayer/jwplayer.flash.swf",
					file: path,//'http://movie.ks.js.cn/flv/other/1_0.flv',
					width: 'auto',
					height: 500,
					controls: true,
					primary: "flash",
					autostart: false,
					image: poster,
				});
				player.onPlay(function () {
					$.post('@Url.Action("Play", "CroResource")', { id: '@Model.CrosourceId', courseId: '@course.CourseId' }, function () { });
				});
			}


			$('.btn-eval').on('click',function(){
				var o={
					ResultId:'@resultId',
					GroupId:'@groupId',
					ResourceId: '@Model.CrosourceId',
					Comment: $('#comment').val(),
					Items:[]
				};

				$('.indication').each(function () {
					var score = $(this).find('.evalScore').val();
					var indicationId = $(this).find('.indicationId').val();
					o.Items.push({
						ResultId:o.ResultId,
						IndicationId:indicationId,
						Score:score
					});
				});

				$.post('@Url.Action("Execute","Eval")',{model:o},function(data,status){
					if (data.error == "none") {
						location.href="@Url.Action("Search", "Eval")";
						alertify.success(data.msg);
					}
					else {
						alertify.error(data.msg);
					}
				});
			});


			$('.btn-download').on('click',function(){
				var $this=$(this);
				var fileId=$(this).data('id');
				if(fileId>0){
					$.post('/Crosource/Download',{id:'@Model.CrosourceId',  courseId:'@course.CourseId', fileId:fileId},function(response){});
				}
				else{
					alert('暂无文件可下载');
				}
			});

		});
	</script>
		}
	}
	else if (Model.ResourceTypePKID == CroResourceHelper.Thesis)
	{
		@Html.Partial("_thesis", Model)

		@section scripts{
			<script src="~/assets/js/pdf.js"></script>
			<script>
		$(function () {

			var ua = navigator.userAgent;

			var filePath = '@Model.CurrentThesisFile.FilePath';
			if (filePath.indexOf('.docx') >= 0 && filePath.indexOf('.doc') >= 0) {
				filePath = filePath + '.pdf';
			}
			PDFObject.embed(filePath, "#pdf");


			$('.btn-eval').on('click',function(){
				var o={
					ResultId:'@resultId',
					GroupId:'@groupId',
					ResourceId: '@Model.CrosourceId',
					Comment: $('#comment').val(),
					Items:[]
				};

				$('.indication').each(function () {
					var score = $(this).find('.evalScore').val();
					var indicationId = $(this).find('.indicationId').val();
					o.Items.push({
						ResultId:o.ResultId,
						IndicationId:indicationId,
						Score:score
					});
				});

				$.post('@Url.Action("Execute","Eval")',{model:o},function(data,status){
					if (data.error == "none") {
						location.href="@Url.Action("Search", "Eval")";
						alertify.success(data.msg);
					}
					else {
						alertify.error(data.msg);
					}
				});
			});

		});
			</script>
	    }
	}
	<!-- /main -->
</div>

@section Css{
	<style>
		.info .widget {
			height: 400px;
			overflow-y: auto;
		}
		.evalArea{
			height:500px;
			overflow-y:auto;
		}
	</style>
}
@section Plugins{
}
