@model Register
@{
	Layout = "~/Views/Shared/_Row.cshtml";
	ViewBag.Title = "注册";
}

<div class="page-login text-center">
	<div class="login-box center-block">
		@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @id="form", role = "form", @class = "form-horizontal" }))
		{
			@Html.AntiForgeryToken()
			@Html.ValidationSummary(true, "", new { @class = "text-danger" })

			<p class="title">用户注册</p>
			<div class="form-group">
				<label for="CardNo" class="control-label sr-only">用户名</label>
				<div class="col-sm-12">
					@Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "用户名" })
					@Html.ValidationMessageFor(m => m.Username, null, new { @class = "text-danger" })
				</div>
			</div>
			<div class="form-group">
				<label for="Password" class="control-label sr-only">密码</label>
				<div class="col-sm-12">
					@Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "密码" })
					@Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
				</div>
			</div>
			<div class="form-group" id="province">
				<div class="col-sm-12">
					@Html.DropDownListFor(m => m.ProvinceId, (ViewBag.Provinces as List<ResCompany>?? new List<ResCompany>()).Select(x => new SelectListItem { Text = x.CompanyName, Value = x.CompanyId.ToString() }), "选择省份", new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.ProvinceId, null, new { @class = "text-danger" })
				</div>
			</div>
			<div class="form-group" id="area">
				<div class="col-sm-12">
					@Html.DropDownListFor(m => m.AreaId, (ViewBag.Areas as List<ResCompany> ?? new List<ResCompany>()).Select(x => new SelectListItem { Text = x.CompanyName, Value = x.CompanyId.ToString() }), "选择地区", new { @class = "form-control" })
				   @Html.ValidationMessageFor(m => m.AreaId, null, new { @class = "text-danger" })
				</div>
			</div>
			<div class="form-group" id="company">
				<div class="col-sm-12">
					@Html.DropDownListFor(m => m.CompanyId, (ViewBag.Companies as List<ResCompany> ?? new List<ResCompany>()).Select(x => new SelectListItem { Text = x.CompanyName, Value = x.CompanyId.ToString() }), "选择学校", new { @class = "form-control" })	 
				</div>
			</div>
			<div class="form-group">
				<label for="Email" class="control-label sr-only">电子邮箱</label>
				<div class="col-sm-12">
					@Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "电子邮箱" })
					@Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
				</div>
			</div>
			<div class="form-group">
				<label for="Email" class="control-label sr-only">真实姓名</label>
				<div class="col-sm-12">
					@Html.TextBoxFor(m => m.RealName, new { @class = "form-control", placeholder = "真实姓名" })
					@Html.ValidationMessageFor(m => m.RealName, null, new { @class = "text-danger" })
				</div>
			</div>

			<button class="btn btn-block btn-login" type="submit">提交<i class="fa fa-sign-in fa-lg"></i></button>
		}
		<div class="links">
			<p>
				<a href="@Url.Action("Login", "Account")">登录</a>
			</p>
		</div>
		<div class="alert-danger">
			 <i class="fa fa-bell"></i> 注意事项：
			  用户名需包含英文和数字，且不能使用中文 
		</div>
	</div>
</div>

@section plugins{
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js"></script>
<style>
	
	</style>
}

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")


	<script>

		function isEmpty(val){
			return val==undefined || val == '' || val==0;
		}

		$(function () {

			$.validator.unobtrusive.parse("#form");
			$("#form").submit(function () {
				if(isEmpty($('#ProvinceId').val()) || isEmpty($('#AreaId').val()) || isEmpty($('#CompanyId').val())){
					alert('必须选择省市，地区和单位');
					return false;
				}
	
				var $form = $(this);
				if (!$form.valid())
					return false;

				$.post($form.attr("action"), $form.serialize(), function (data, status) {
					if (status == "success") {
						if (data.error != 'none') {
							alert(data.msg);
							return false;
						}

						alert(data.msg);
						if(data.returnUrl!=''){
							location.href=data.returnUrl;
						}
					}
				});

				return false;
			});


			$('#CompanyId,#ProvinceId,#AreaId').select2({ 
				language:{
					noResults:function(param){
						return "暂无数据";
				}} 
			});

			var areas=@Html.Raw(Json.Encode(ViewBag.AreasDic));
			var schools=@Html.Raw(Json.Encode(ViewBag.SchoolsDic));
			RelationSelect($("#ProvinceId"), $("#AreaId"), areas, "选择地区");
			RelationSelect($("#AreaId"), $("#CompanyId"), schools, "选择学校");
		});
	</script>
}