@model Dictionary<string, int>
@{
	ViewBag.Title = "用户分布";
}

<div class="col-md-10 content-wrapper">
	<div class="row">
		<div class="col-lg-4 ">
			<ul class="breadcrumb">
				<li>
					<i class="fa fa-home"></i>
					<a href="@Url.Action("Index", "Home")">首页</a>
				</li>
				<li><a href="@Url.Action("Main", "Report")">报表 & 图表</a></li>
				<li class="active">@ViewBag.Title</li>
			</ul>
		</div>
	</div>

	<!-- main -->
	<div class="content">
		<div class="main-header">
			<h2>@ViewBag.Title</h2>
			<em>查看资源库用户统计情况</em>
		</div>

		<div class="main-content">

			<!-- widget -->
			<div class="widget">
				<div class="widget-header">
					<h3><i class="fa fa-paperclip"></i> @ViewBag.Title</h3>
					<div class="btn-group widget-header-toolbar">
						<a href="#" title="专注" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
					</div>
				</div>

				<div class="widget-content">
					<!-- Grid -->
					<div id="table-responsive">
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th class="titlewidth">统计项目</th>
									<th>数据</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model) { 
								<tr><td>@item.Key</td><td>@item.Value</td></tr>
								}
							</tbody>
						</table>
					</div>
					<!-- end Grid-->
				</div>
				<!-- end widget content -->

			</div>
			<!-- end widget -->

		</div>
		<!-- /main-content -->
	</div>
	<!-- /main -->
</div>
